<div class="col-md-2 text-center">
    {% include 'check/check_menu.html' %}
    <div class="card text-center mt-3 border border-success">
        <div class="card-header text-center bg-success-subtle">
            <h5>당일 일일순찰</h5>
        </div>
        <ul class="list-group list-group-flush dropdown-center">
            <a href="{% url 'check:patrol_p_class' %}"
                class="list-group-item list-group-item-action text-center"
                aria-current="true">
                P반 & M반
            </a>
            <a href="{% url 'check:patrol_s_class' %}"
                class="list-group-item list-group-item-action text-center"
                aria-current="true">
                S반
            </a>
        </ul>
    </div>
    <form method="POST" action="{% url 'check:patrol' %}" onsubmit="return validateForm()">
        {% csrf_token %}
        <div class="card border-secondary mt-3">
            <div class="card-header bg-warning-subtle">
                <h5 style="font-size:18px">일일순찰 날짜 검색</h5>
            </div>
            <div class="card-body text-center">
                <input type="date" name="selected_date" id="selected_date">
            </div>
            <div class="card-body text-center">
                <button type="submit" class="btn btn-outline-primary" name="class_button">검색</button>
            </div>
        </div>
    </form>
</div>

<script>
    function validateForm() {
        var selectedDate = document.getElementById("selected_date").value;
        if (!selectedDate) {
            alert("날짜를 지정해야 합니다.");
            return false;
        }
        return true;
    }
</script>