{% extends 'mypage_base.html' %}
{% block content %}
    <div class="col-md-10" style="height:100px;">
        {% include "mypage_titlebar.html" %}
        <hr>
        <div class="row">
            <div class="col-md-2">
                <form method="POST" action="{% url 'mypage:planner_search' user.id %}">
                    {% csrf_token %}
                    <div class="card border-secondary text-center" style="height: 10rem">
                        <div class="card-header bg-warning-subtle">플래너 날짜 검색</div>
                        <div class="card-body">
                            <input type="date" name="selected_date" id="selected_date">
                        </div>
                        <div class="card-body">
                            <button class="btn btn-outline-success" type="submit" id="button"
                                style="vertical-align: center;">검색
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}