{% extends 'mypage_base.html' %}
{% block content %}
    <div class="col-md-10" style="height:100px;">
        {% include "mypage_titlebar.html" %}
        <hr>
        <form method="POST" action="{% url 'mypage:planner_index' user_id=user.id %}">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-4">
                    <h4>{{ today_date }}</h4>
                    <table class="table align-middle text-center mt-3">
                        <thead>
                            <tr class="table-info">
                                <th style="width: 20%; white-space: nowrap;">과목</th>
                                <th colspan="2" style="width: 40%; white-space: nowrap;">수강시간</th>
                                <th colspan="2" style="width: 40%; white-space: nowrap;">자습시간</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>국어</td>
                                <td>
                                    <input type="text" class="form-control" id="id_korean_lecture_study_hour" name="korean_lecture_study_hour"
                                        value="{{ planner_instance.korean_lecture_study_hour|default_if_none:'' }}">
                                </td>
                                <td>
                                    <input type="text" class="form-control" id="korean_lecture_study_min" name="korean_lecture_study_min"
                                        value="{{ planner_instance.korean_lecture_study_min|default_if_none:'' }}">
                                </td>
                                <td>
                                    <input type="text" class="form-control" id="id_korean_self_study_hour" name="korean_self_study_hour"
                                        value="{{ planner_instance.korean_self_study_hour|default_if_none:'' }}">
                                </td>
                                <td>
                                    <input type="text" class="form-control" id="korean_self_study_min" name="korean_self_study_min"
                                        value="{{ planner_instance.korean_self_study_min|default_if_none:'' }}">
                                </td>
                            </tr>
                            <tr>
                                <td>수학</td>
                                <td>
                                    <input type="text" class="form-control" id="id_math_lecture_study_hour" name="math_lecture_study_hour"
                                        value="{{ planner_instance.math_lecture_study_hour|default_if_none:'' }}">
                                </td>
                                <td>
                                    <input type="text" class="form-control" id="math_lecture_study_min" name="math_lecture_study_min"
                                        value="{{ planner_instance.math_lecture_study_min|default_if_none:'' }}">
                                </td>
                                <td>
                                    <input type="text" class="form-control" id="id_math_self_study_hour" name="math_self_study_hour"
                                        value="{{ planner_instance.math_self_study_hour|default_if_none:'' }}">
                                </td>
                                <td>
                                    <input type="text" class="form-control" id="math_self_study_min" name="math_self_study_min"
                                        value="{{ planner_instance.math_self_study_min|default_if_none:'' }}">
                                </td>
                            </tr>
                            <tr>
                                <td>영어</td>
                                <td>
                                    <input type="text" class="form-control" id="id_english_lecture_study_hour" name="english_lecture_study_hour"
                                        value="{{ planner_instance.english_lecture_study_hour|default_if_none:'' }}">
                                </td>
                                <td>
                                    <input type="text" class="form-control" id="english_lecture_study_min" name="english_lecture_study_min"
                                        value="{{ planner_instance.english_lecture_study_min|default_if_none:'' }}">
                                </td>
                                <td>
                                    <input type="text" class="form-control" id="id_english_self_study_hour" name="english_self_study_hour"
                                        value="{{ planner_instance.english_self_study_hour|default_if_none:'' }}">
                                </td>
                                <td>
                                    <input type="text" class="form-control" id="english_self_study_min" name="english_self_study_min"
                                        value="{{ planner_instance.english_self_study_min|default_if_none:'' }}">
                                </td>
                            </tr>
                            <tr>
                                <td>탐구</td>
                                <td>
                                    <input type="text" class="form-control" id="id_research_lecture_study_hour" name="research_lecture_study_hour"
                                        value="{{ planner_instance.research_lecture_study_hour|default_if_none:'' }}">
                                </td>
                                <td>
                                    <input type="text" class="form-control" id="research_lecture_study_min" name="research_lecture_study_min"
                                        value="{{ planner_instance.research_lecture_study_min|default_if_none:'' }}">
                                </td>
                                <td>
                                    <input type="text" class="form-control" id="id_research_self_study_hour" name="research_self_study_hour"
                                        value="{{ planner_instance.research_self_study_hour|default_if_none:'' }}">
                                </td>
                                <td>
                                    <input type="text" class="form-control" id="research_self_study_min" name="research_self_study_min"
                                        value="{{ planner_instance.research_self_study_min|default_if_none:'' }}">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <button class="btn btn-outline-primary" type="submit"
                            style="vertical-align: center">저장하기
                    </button>
                </div>
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-8">
                            <table class="table align-middle">
                                <thead>
                                    <tr class="table-success text-center">
                                        <th style="width: 15%; white-space: nowrap;">과목</th>
                                        <th style="width: 85%; white-space: nowrap;">내용</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <input type="text" class="form-control" id="id_todo1_subject" name="todo1_subject"
                                                value="{{ planner_instance.todo1_subject|default_if_none:'' }}">
                                        </td>
                                        <td>
                                            <input type="text" class="form-control" id="id_todo1_content" name="todo1_content"
                                                value="{{ planner_instance.todo1_content|default_if_none:'' }}">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <input type="text" class="form-control" id="id_todo2_subject" name="todo2_subject"
                                                value="{{ planner_instance.todo2_subject|default_if_none:'' }}">
                                        </td>
                                        <td>
                                            <input type="text" class="form-control" id="id_todo2_content" name="todo2_content"
                                                value="{{ planner_instance.todo2_content|default_if_none:'' }}">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <input type="text" class="form-control" id="id_todo3_subject" name="todo3_subject"
                                                value="{{ planner_instance.todo3_subject|default_if_none:'' }}">
                                        </td>
                                        <td>
                                            <input type="text" class="form-control" id="id_todo3_content" name="todo3_content"
                                                value="{{ planner_instance.todo3_content|default_if_none:'' }}">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <input type="text" class="form-control" id="id_todo4_subject" name="todo4_subject"
                                                value="{{ planner_instance.todo4_subject|default_if_none:'' }}">
                                        </td>
                                        <td>
                                            <input type="text" class="form-control" id="id_todo4_content" name="todo4_content"
                                                value="{{ planner_instance.todo4_content|default_if_none:'' }}">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <input type="text" class="form-control" id="id_todo5_subject" name="todo5_subject"
                                                value="{{ planner_instance.todo5_subject|default_if_none:'' }}">
                                        </td>
                                        <td>
                                            <input type="text" class="form-control" id="id_todo5_content" name="todo5_content"
                                                value="{{ v.todo5_content|default_if_none:'' }}">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <input type="text" class="form-control" id="id_todo6_subject" name="todo6_subject"
                                                value="{{ planner_instance.todo6_subject|default_if_none:'' }}">
                                        </td>
                                        <td>
                                            <input type="text" class="form-control" id="id_todo6_content" name="todo6_content"
                                                value="{{ planner_instance.todo6_content|default_if_none:'' }}">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <input type="text" class="form-control" id="id_todo7_subject" name="todo7_subject"
                                                value="{{ planner_instance.todo7_subject|default_if_none:'' }}">
                                        </td>
                                        <td>
                                            <input type="text" class="form-control" id="id_todo7_content" name="todo7_content"
                                                value="{{ planner_instance.todo7_content|default_if_none:'' }}">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <input type="text" class="form-control" id="id_todo8_subject" name="todo8_subject"
                                                value="{{ planner_instance.todo8_subject|default_if_none:'' }}">
                                        </td>
                                        <td>
                                            <input type="text" class="form-control" id="id_todo8_content" name="todo8_content"
                                                value="{{ planner_instance.todo8_content|default_if_none:'' }}">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <input type="text" class="form-control" id="id_todo9_subject" name="todo9_subject"
                                                value="{{ planner_instance.todo9_subject|default_if_none:'' }}">
                                        </td>
                                        <td>
                                            <input type="text" class="form-control" id="id_todo9_content" name="todo9_content"
                                                value="{{ planner_instance.todo9_content|default_if_none:'' }}">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <input type="text" class="form-control" id="id_todo10_subject" name="todo10_subject"
                                                value="{{ planner_instance.todo10_subject|default_if_none:'' }}">
                                        </td>
                                        <td>
                                            <input type="text" class="form-control" id="id_todo10_content" name="todo10_content"
                                                value="{{ planner_instance.todo10_content|default_if_none:'' }}">
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
<script>
document.addEventListener('DOMContentLoaded', function() {
    document.querySelector('form').addEventListener('submit', function(event) {
        var fieldsToCheck = ['korean_lecture_study_hour', 'korean_lecture_study_min', 'korean_self_study_hour', 'korean_self_study_min',
                             'math_lecture_study_hour', 'math_lecture_study_min', 'math_self_study_hour', 'math_self_study_min',
                             'english_lecture_study_hour', 'english_lecture_study_min', 'english_self_study_hour', 'english_self_study_min',
                             'research_lecture_study_hour', 'research_lecture_study_min', 'research_self_study_hour', 'research_self_study_min'];

        var isError = false;

        fieldsToCheck.forEach(function(fieldName) {
            var fieldValue = document.getElementById('id_' + fieldName).value;
            // 값이 비어 있거나 숫자가 아닌 경우
            if (isNaN(parseFloat(fieldValue)) || !isFinite(fieldValue)) {
                // 오류 메시지를 표시하고 해당 필드를 강조
                alert('Error: ' + fieldName + ' 숫자를 입력해주세요');
                document.getElementById('id_' + fieldName).style.border = '2px solid red';
                isError = true;
            } else {
                // 숫자가 아닌 경우 이전에 설정한 스타일 초기화
                document.getElementById('id_' + fieldName).style.border = '';
            }
        });

        // 오류가 있는 경우 제출 방지
        if (isError) {
            event.preventDefault();
            return false;
        }
    });
});
</script>

{% endblock %}
