<div class="col-md-10 text-center list-group" style="height:700px">
    <table class="table align-middle" style="text-align: center">
        <thead>
            <tr class="table-success">
                <th style="width: 5%; white-space: nowrap;">반-번호</th>
                <th style="width: 5%; white-space: nowrap;">학생이름</th>
                <th style="width: 5%; white-space: nowrap;">8</th>
                <th style="width: 5%; white-space: nowrap;">9</th>
                <th style="width: 5%; white-space: nowrap;">10</th>
                <th style="width: 5%; white-space: nowrap;">11</th>
                <th style="width: 5%; white-space: nowrap;">12</th>
                <th style="width: 5%; white-space: nowrap;">13</th>
                <th style="width: 5%; white-space: nowrap;">14</th>
                <th style="width: 5%; white-space: nowrap;">15</th>
                <th style="width: 5%; white-space: nowrap;">16</th>
                <th style="width: 5%; white-space: nowrap;">17</th>
                <th style="width: 5%; white-space: nowrap;">18</th>
                <th style="width: 5%; white-space: nowrap;">19</th>
                <th style="width: 5%; white-space: nowrap;">20</th>
                <th style="width: 5%; white-space: nowrap;">21</th>
                <th style="width: 5%; white-space: nowrap;">22</th>
                <th style="width: 5%; white-space: nowrap;">23</th>
{#                <th style="width: 90%; white-space: nowrap;">스케줄표</th>#}
            </tr>
        </thead>
        <tbody>
            <td>P-19</td>
            <td>한정윤윤</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tbody>
    </table>
</div>