{% extends 'base.html' %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            {% include 'check/check_menu.html' %}
            <div class="col-md-10 text-center list-group" style="height:700px">
                <table class="table align-middle table-bordered" style="text-align: center">
                    <thead style="position: sticky; top: 0px;">
                        <tr class="table-success">
                            <th style="width: 5%; white-space: nowrap;">반-번호</th>
                            <th style="width: 5%; white-space: nowrap;">학생이름</th>
                            <th style="width: 5%; white-space: nowrap;">출결</th>
                            <th style="width: 5%; white-space: nowrap;">8</th>
                            <th style="width: 5%; white-space: nowrap;">9</th>
                            <th style="width: 5%; white-space: nowrap;">10</th>
                            <th style="width: 5%; white-space: nowrap;">11</th>
                            <th style="width: 5%; white-space: nowrap;">12</th>
                            <th style="width: 5%; white-space: nowrap;">13</th>
                            <th style="width: 5%; white-space: nowrap;">14</th>
                            <th style="width: 5%; white-space: nowrap;">15</th>
                            <th style="width: 5%; white-space: nowrap;">16</th>
                            <th style="width: 5%; white-space: nowrap;">17</th>
                            <th style="width: 5%; white-space: nowrap;">18</th>
                            <th style="width: 5%; white-space: nowrap;">19</th>
                            <th style="width: 5%; white-space: nowrap;">20</th>
                            <th style="width: 5%; white-space: nowrap;">21</th>
                            <th style="width: 5%; white-space: nowrap;">22</th>
                        </tr>
                    </thead>
                {% for attendance in attendances_p %}
                    <tbody>
                        <td>{{ attendance.user.class_name }}-{{ attendance.user.class_num }}</td>
                        <td>{{ attendance.user.student }}</td>

                        <td>
                            {% if attendance.late or attendance.early_leave or attendance.absent %}
                            <button type="button" class="btn btn-warning btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="">수정</button>
                            {% else %}
                            <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="">출결</button>
                            {% endif %}
                            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="exampleModalLabel">출결 정보 입력</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <form method="post" action="{% url 'check:attendance_p' %}">
                                                {% csrf_token %}
                                                <div class="mb-3">
                                                    <label for="early-leave-input" class="col-form-label">조퇴 시간</label>
                                                    {% if attendance.early_leave %}
                                                        <input type="time" class="form-control" name="early_leave" id="early-leave-input" value="{{ attendance.early_leave|date:'H:i' }}">
                                                    {% else %}
                                                        <input type="time" class="form-control" name="early_leave" id="early-leave-input">
                                                    {% endif %}
                                                </div>
                                                <div class="mb-3">
                                                    <label for="late-input" class="col-form-label">지각 시간</label>
                                                    {% if attendance.late %}
                                                        <input type="time" class="form-control" name="late" id="late-input" value="{{ attendance.late|date:'H:i' }}">
                                                    {% else %}
                                                        <input type="time" class="form-control" name="late" id="late-input">
                                                    {% endif %}
                                                </div>
                                                <div class="form-check mb-3">
                                                    <input type="checkbox" class="form-check-input" id="absent-checkbox" name="absent" {% if attendance.absent %}checked{% endif %}>
                                                    <label class="form-check-label" for="absent-checkbox">결석 여부</label>
                                                </div>
                                                <div class="d-grid gap-2">
                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                    <button type="submit" class="btn btn-primary">저장</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
{#                        모달 끝 #}

                        {% if attendance.time8 == False %}
                            <td></td>
                        {% else %}
                            <td style="background-color: lightgray;">{{ attendance.time8 }}</td>
                        {% endif %}

                        {% if attendance.time9 == False %}
                            <td style="background-color: lightgray;">{{ attendance.time9 }}</td>
                        {% else %}
                            <td></td>
                        {% endif %}

                        {% if attendance.time10 == False %}
                            <td style="background-color: lightgray;">{{ attendance.time10 }}</td>
                        {% else %}
                            <td></td>
                        {% endif %}

                        {% if attendance.time11 == False %}
                            <td style="background-color: lightgray;">{{ attendance.time11 }}</td>
                        {% else %}
                            <td></td>
                        {% endif %}

                        {% if attendance.time12 == False %}
                            <td style="background-color: lightgray;">{{ attendance.time12 }}</td>
                        {% else %}
                            <td></td>
                        {% endif %}

                        {% if attendance.time13 == False %}
                            <td style="background-color: lightgray;">{{ attendance.time13 }}</td>
                        {% else %}
                            <td></td>
                        {% endif %}

                        {% if attendance.time14 == False %}
                            <td style="background-color: lightgray;">{{ attendance.time14 }}</td>
                        {% else %}
                            <td></td>
                        {% endif %}

                        {% if attendance.time15 == False %}
                            <td style="background-color: lightgray;">{{ attendance.time15 }}</td>
                        {% else %}
                            <td></td>
                        {% endif %}

                        {% if attendance.time16 == False %}
                            <td style="background-color: lightgray;">{{ attendance.time16 }}</td>
                        {% else %}
                            <td></td>
                        {% endif %}

                        {% if attendance.time17 == False %}
                            <td style="background-color: lightgray;">{{ attendance.time17 }}</td>
                        {% else %}
                            <td></td>
                        {% endif %}

                        {% if attendance.time18 == False %}
                            <td style="background-color: lightgray;">{{ attendance.time18 }}</td>
                        {% else %}
                            <td></td>
                        {% endif %}

                        {% if attendance.time19 == False %}
                            <td style="background-color: lightgray;">{{ attendance.time19 }}</td>
                        {% else %}
                            <td></td>
                        {% endif %}

                        {% if attendance.time20 == False %}
                            <td style="background-color: lightgray;">{{ attendance.time20 }}</td>
                        {% else %}
                            <td></td>
                        {% endif %}

                        {% if attendance.time21 == False %}
                            <td style="background-color: lightgray;">{{ attendance.time21 }}</td>
                        {% else %}
                            <td></td>
                        {% endif %}

                        {% if attendance.time22 == False %}
                            <td style="background-color: lightgray;">{{ attendance.time22 }}</td>
                        {% else %}
                            <td></td>
                        {% endif %}
                    </tbody>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
    <script>
    const exampleModal = document.getElementById('exampleModal');
    if (exampleModal) {
        exampleModal.addEventListener('show.bs.modal', event => {
            const button = event.relatedTarget;
            const recipient = button.getAttribute('data-bs-whatever');
            const modalTitle = exampleModal.querySelector('.modal-title');

            modalTitle.textContent = `출결 정보 입력 - ${recipient}`;
        });

        exampleModal.addEventListener('shown.bs.modal', () => {
            const earlyLeaveInput = exampleModal.querySelector('#early-leave-input');
            const lateInput = exampleModal.querySelector('#late-input');
            const absentCheckbox = exampleModal.querySelector('#absent-checkbox');

            // 여기에서 필요한 조건에 따라 초기값 설정 또는 기존 데이터 불러오기 등을 수행
            // 예를 들어, 서버에서 해당 학생의 출결 정보를 가져와서 각 input 요소에 설정할 수 있습니다.
        });
    }
</script>

{% endblock %}