<ul class="list-group dropdown-center">
    <a href="{% url 'check:index' %}"
        class="list-group-item list-group-item-action text-center"
        aria-current="true">
        출석부
    </a>
    <a href="{% url 'check:patrol' %}"
        class="list-group-item list-group-item-action text-center"
        aria-current="true">
        일일순찰
    </a>
    <a href="{% url 'check:student' %}"
        class="list-group-item list-group-item-action text-center"
        aria-current="true">
        재원생 목록
    </a>
</ul>