<div class="col-md-2 text-center">
    <ul class="list-group dropdown-center">
        <a href="{% url 'check:index' %}"
            class="list-group-item list-group-item-action text-center"
            aria-current="true">
            출석부
        </a>
        <a href="{% url 'check:patrol' %}"
            class="list-group-item list-group-item-action text-center"
            aria-current="true">
            일일순찰
        </a>
    </ul>
{#    <form method="post" action="{% url 'check:create_book' %}">#}
{#        {% csrf_token %}#}
{#        <div class="card border-secondary mt-3">#}
{#            <div class="card-header bg-primary-subtle"><input type="date" name="selected_date"></div>#}
{#            <div class="card-body">#}
{#                <button type="submit" class="btn btn-outline-success">#}
{#                    검색#}
{#                </button>#}
{#            </div>#}
{#        </div>#}
{#    </form>#}
    <ul class="list-group dropdown-center mt-3">
        <a href="{% url 'check:attendance_index_p' %}"
            class="list-group-item list-group-item-action text-center"
            aria-current="true">
            P반
        </a>
        <a href="{% url 'check:attendance_index_s' %}"
            class="list-group-item list-group-item-action text-center"
            aria-current="true">
            S반
        </a>
    </ul>
    <ul class="list-group dropdown-center mt-3">
        <a href="{% url 'check:student_register' %}"
            class="list-group-item list-group-item-action text-center"
            aria-current="true">
            재원생 등록
        </a>
        <a href="#"
            class="list-group-item list-group-item-action text-center"
            aria-current="true">
            재원생 수정
        </a>
    </ul>
    <form method="post" action="{% url 'check:create_book' %}" onsubmit="return validateForm()">
        {% csrf_token %}
        <div class="card border-secondary mt-3">
            <div class="card-header bg-primary-subtle">
                <input type="date" name="selected_date" id="selected_date">
            </div>
            <div class="card-body">
                <button type="submit" class="btn btn-outline-success">
                    출석부 생성
                </button>
            </div>
        </div>
    </form>
    <form method="post" action="{% url 'check:index' %}">
        {% csrf_token %}
        <div class="card border-secondary mt-3">
            <div class="card-header bg-warning-subtle">
                <input type="date" name="selected_date" id="selected_date">
            </div>
            <div class="card-body">
                <button type="submit" class="btn btn-outline-primary" name="class_button" value="P">P반 검색</button>
                <button type="submit" class="btn btn-outline-info" name="class_button" value="S">S반 검색</button>
            </div>
        </div>
    </form>
</div>

<script>
    function validateForm() {
        var selectedDate = document.getElementById("selected_date").value;
        if (!selectedDate) {
            alert("날짜를 지정해야 합니다.");
            return false;
        }
        return true;
    }
</script>