<!-- check_main.html -->
{% extends 'base.html' %}
{% block content %}
    <style>
        @font-face {
            font-family: 'PyeongChangPeace-Bold';
            src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/PyeongChangPeace-Bold.woff2') format('woff2');
            font-weight: 700;
            font-style: normal;
        }
    </style>
    <div class="container-fluid">
        <div class="row">
        <div class="col-md-2 text-center">
            {% include 'check/check_menu.html' %}
            <div class="card text-center mt-3 border border-success">
                <div class="card-header text-center bg-success-subtle">
                    <h5>당일 출석체크</h5>
                </div>
                <ul class="list-group list-group-flush dropdown-center">
                    <a href="{% url 'check:attendance_index_p' %}"
                        class="list-group-item list-group-item-action text-center"
                        aria-current="true">
                        P반
                    </a>
                    <a href="{% url 'check:attendance_index_s' %}"
                        class="list-group-item list-group-item-action text-center"
                        aria-current="true">
                        S반
                    </a>
                    <a href="{% url 'check:attendance_index_m' %}"
                        class="list-group-item list-group-item-action text-center"
                        aria-current="true">
                        M반
                    </a>
                </ul>
            </div>
            <form method="post" action="{% url 'check:index' %}" onsubmit="return validateForm()">
                {% csrf_token %}
                <div class="card border-secondary mt-3">
                    <div class="card-header bg-warning-subtle">
                        <h5 style="font-size:20px">출석부 날짜 검색</h5>
                    </div>
                    <div class="card-body text-center">
                        <input type="date" name="selected_date" id="selected_date">
                    </div>
                    <div class="card-body text-center">
                        <button type="submit" class="btn btn-outline-primary" name="class_button">검색</button>
                    </div>
                </div>
            </form>
        </div>
            <div class="col-md-10">
                <!-- 날짜와 반 정보 표시 -->
                {% if selected_date %}
                    <h3 style="font-family: 'PyeongChangPeace-Bold', sans-serif;">
                    <span style="color:mediumseagreen; font-size:24px; "> {{ selected_date }} </span>
                    <span style="font-size:24px; "> 출석부 </span>
                </h3>
                {% endif %}
                <!-- 출석부 데이터 표시 -->
                {% for attendance in attendances %}
                    <!-- 출석 데이터 출력 -->
                {% endfor %}
                <table class="table align-middle table-bordered" style="text-align: center">
                    <thead style="position: sticky; top: 0px;">
                        <tr class="table-success">
                            <th style="width: 5%; white-space: nowrap;">반-번호</th>
                            <th style="width: 5%; white-space: nowrap;">학생이름</th>
                            <th style="width: 5%; white-space: nowrap;">출결</th>
                            <th style="width: 5%; white-space: nowrap;">8</th>
                            <th style="width: 5%; white-space: nowrap;">9</th>
                            <th style="width: 5%; white-space: nowrap;">10</th>
                            <th style="width: 5%; white-space: nowrap;">11</th>
                            <th style="width: 5%; white-space: nowrap;">12</th>
                            <th style="width: 5%; white-space: nowrap;">13</th>
                            <th style="width: 5%; white-space: nowrap;">14</th>
                            <th style="width: 5%; white-space: nowrap;">15</th>
                            <th style="width: 5%; white-space: nowrap;">16</th>
                            <th style="width: 5%; white-space: nowrap;">17</th>
                            <th style="width: 5%; white-space: nowrap;">18</th>
                            <th style="width: 5%; white-space: nowrap;">19</th>
                            <th style="width: 5%; white-space: nowrap;">20</th>
                            <th style="width: 5%; white-space: nowrap;">21</th>
                            <th style="width: 5%; white-space: nowrap;">22</th>
                        </tr>
                    </thead>
                    {% for attendance in attendances_p %}
                    <tbody>
                        <form method="post" action="{% url 'check:update_attendance' attendance.id %}">
                            {% csrf_token %}
                            {% if attendance.absent %}
                                <td class="bg-warning-subtle">{{ attendance.user.class_name }}-{{ attendance.user.class_num }}</td>
                                <td class="bg-warning-subtle">{{ attendance.user.student }}</td>
                                <td>
                                    {% if attendance.late or attendance.early_leave or attendance.absent %}
                                    <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#exampleModal{{ attendance.id }}" data-bs-whatever="{{ attendance.user.student }}">수정</button>
                                    {% else %}
                                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal{{ attendance.id }}" data-bs-whatever="{{ attendance.user.student }}">출결</button>
                                    {% endif %}
                                </td>
                                <td class="bg-secondary"></td>
                                <td class="bg-secondary"></td>
                                <td class="bg-secondary"></td>
                                <td class="bg-secondary"></td>
                                <td class="bg-secondary"></td>
                                <td class="bg-secondary"></td>
                                <td class="bg-secondary"></td>
                                <td class="bg-secondary"></td>
                                <td class="bg-secondary"></td>
                                <td class="bg-secondary"></td>
                                <td class="bg-secondary"></td>
                                <td class="bg-secondary"></td>
                                <td class="bg-secondary"></td>
                                <td class="bg-secondary"></td>
                                <td class="bg-secondary"></td>
                            {% else %}
                                <td class="bg-warning-subtle">{{ attendance.user.class_name }}-{{ attendance.user.class_num }}</td>
                                <td class="bg-warning-subtle">{{ attendance.user.student }}</td>
                                <td>
                                    {% if attendance.absent or attendance.memo %}
                                    <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#exampleModal{{ attendance.id }}" data-bs-whatever="{{ attendance.user.student }}">수정</button>
                                    {% else %}
                                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal{{ attendance.id }}" data-bs-whatever="{{ attendance.user.student }}">출결</button>
                                    {% endif %}
                                </td>
                                <td>{{ attendance.time8 }}</td>
                                <td>{{ attendance.time9 }}</td>
                                <td>{{ attendance.time10 }}</td>
                                <td>{{ attendance.time11 }}</td>
                                <td>{{ attendance.time12 }}</td>
                                <td>{{ attendance.time13 }}</td>
                                <td>{{ attendance.time14 }}</td>
                                <td>{{ attendance.time15 }}</td>
                                <td>{{ attendance.time16 }}</td>
                                <td>{{ attendance.time17 }}</td>
                                <td>{{ attendance.time18 }}</td>
                                <td>{{ attendance.time19 }}</td>
                                <td>{{ attendance.time20 }}</td>
                                <td>{{ attendance.time21 }}</td>
                                <td>{{ attendance.time22 }}</td>
                            {% endif %}
                        </form>
                    </tbody>
                    {% endfor %}
                    {% for attendance in attendances_s %}
                        <tbody>
                            <form method="post" action="{% url 'check:update_attendance' attendance.id %}">
                                {% csrf_token %}
                                {% if attendance.absent %}
                                    <td class="bg-primary-subtle">{{ attendance.user.class_name }}-{{ attendance.user.class_num }}</td>
                                    <td class="bg-primary-subtle">{{ attendance.user.student }}</td>
                                    <td>
                                        {% if attendance.late or attendance.early_leave or attendance.absent %}
                                        <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#exampleModal{{ attendance.id }}" data-bs-whatever="{{ attendance.user.student }}">수정</button>
                                        {% else %}
                                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal{{ attendance.id }}" data-bs-whatever="{{ attendance.user.student }}">출결</button>
                                        {% endif %}
                                    </td>
                                    <td class="bg-secondary"></td>
                                    <td class="bg-secondary"></td>
                                    <td class="bg-secondary"></td>
                                    <td class="bg-secondary"></td>
                                    <td class="bg-secondary"></td>
                                    <td class="bg-secondary"></td>
                                    <td class="bg-secondary"></td>
                                    <td class="bg-secondary"></td>
                                    <td class="bg-secondary"></td>
                                    <td class="bg-secondary"></td>
                                    <td class="bg-secondary"></td>
                                    <td class="bg-secondary"></td>
                                    <td class="bg-secondary"></td>
                                    <td class="bg-secondary"></td>
                                    <td class="bg-secondary"></td>
                                {% else %}
                                    <td class="bg-primary-subtle">{{ attendance.user.class_name }}-{{ attendance.user.class_num }}</td>
                                    <td class="bg-primary-subtle">{{ attendance.user.student }}</td>
                                    <td>
                                        {% if attendance.absent or attendance.memo %}
                                        <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#exampleModal{{ attendance.id }}" data-bs-whatever="{{ attendance.user.student }}">수정</button>
                                        {% else %}
                                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal{{ attendance.id }}" data-bs-whatever="{{ attendance.user.student }}">출결</button>
                                        {% endif %}
                                    </td>
                                    <td>{{ attendance.time8 }}</td>
                                    <td>{{ attendance.time9 }}</td>
                                    <td>{{ attendance.time10 }}</td>
                                    <td>{{ attendance.time11 }}</td>
                                    <td>{{ attendance.time12 }}</td>
                                    <td>{{ attendance.time13 }}</td>
                                    <td>{{ attendance.time14 }}</td>
                                    <td>{{ attendance.time15 }}</td>
                                    <td>{{ attendance.time16 }}</td>
                                    <td>{{ attendance.time17 }}</td>
                                    <td>{{ attendance.time18 }}</td>
                                    <td>{{ attendance.time19 }}</td>
                                    <td>{{ attendance.time20 }}</td>
                                    <td>{{ attendance.time21 }}</td>
                                    <td>{{ attendance.time22 }}</td>
                                {% endif %}
                            </form>
                        </tbody>
                    {% endfor %}
                    {% for attendance in attendances_m %}
                        <tbody>
                            <form method="post" action="{% url 'check:update_attendance' attendance.id %}">
                                {% csrf_token %}
                                {% if attendance.absent %}
                                    <td class="bg-info-subtle">{{ attendance.user.class_name }}-{{ attendance.user.class_num }}</td>
                                    <td class="bg-info-subtle">{{ attendance.user.student }}</td>
                                    <td>
                                        {% if attendance.late or attendance.early_leave or attendance.absent %}
                                        <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#exampleModal{{ attendance.id }}" data-bs-whatever="{{ attendance.user.student }}">수정</button>
                                        {% else %}
                                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal{{ attendance.id }}" data-bs-whatever="{{ attendance.user.student }}">출결</button>
                                        {% endif %}
                                    </td>
                                    <td class="bg-secondary"></td>
                                    <td class="bg-secondary"></td>
                                    <td class="bg-secondary"></td>
                                    <td class="bg-secondary"></td>
                                    <td class="bg-secondary"></td>
                                    <td class="bg-secondary"></td>
                                    <td class="bg-secondary"></td>
                                    <td class="bg-secondary"></td>
                                    <td class="bg-secondary"></td>
                                    <td class="bg-secondary"></td>
                                    <td class="bg-secondary"></td>
                                    <td class="bg-secondary"></td>
                                    <td class="bg-secondary"></td>
                                    <td class="bg-secondary"></td>
                                    <td class="bg-secondary"></td>
                                {% else %}
                                    <td class="bg-info-subtle">{{ attendance.user.class_name }}-{{ attendance.user.class_num }}</td>
                                    <td class="bg-info-subtle">{{ attendance.user.student }}</td>
                                    <td>
                                        {% if attendance.absent or attendance.memo %}
                                        <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#exampleModal{{ attendance.id }}" data-bs-whatever="{{ attendance.user.student }}">수정</button>
                                        {% else %}
                                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal{{ attendance.id }}" data-bs-whatever="{{ attendance.user.student }}">출결</button>
                                        {% endif %}
                                    </td>
                                    <td>{{ attendance.time8 }}</td>
                                    <td>{{ attendance.time9 }}</td>
                                    <td>{{ attendance.time10 }}</td>
                                    <td>{{ attendance.time11 }}</td>
                                    <td>{{ attendance.time12 }}</td>
                                    <td>{{ attendance.time13 }}</td>
                                    <td>{{ attendance.time14 }}</td>
                                    <td>{{ attendance.time15 }}</td>
                                    <td>{{ attendance.time16 }}</td>
                                    <td>{{ attendance.time17 }}</td>
                                    <td>{{ attendance.time18 }}</td>
                                    <td>{{ attendance.time19 }}</td>
                                    <td>{{ attendance.time20 }}</td>
                                    <td>{{ attendance.time21 }}</td>
                                    <td>{{ attendance.time22 }}</td>
                                {% endif %}
                            </form>
                        </tbody>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>

    {% for attendance in attendances_p %}
        <div class="modal fade" id="exampleModal{{ attendance.id }}" tabindex="-1" aria-labelledby="exampleModalLabel{{ attendance.id }}" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel{{ attendance.id }}">출결 정보 입력 - {{ attendance.user.student }}</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form method="post" action="{% url 'check:update_attendance' attendance.id %}">
                            {% csrf_token %}
                            <div class="form-check mb-3">
                                <input type="checkbox" class="form-check-input" id="absent-checkbox{{ attendance.id }}" name="absent" {% if attendance.absent %}checked{% endif %}>
                                <label class="form-check-label" for="absent-checkbox{{ attendance.id }}">결석 여부</label>
                                <input type="hidden" name="attendance_id" value="{{ attendance.absent }}">  <!-- 출결 항목의 ID를 추가 -->
                            </div>
{#                          오전 #}
                            <table class="table align-middle table-bordered" style="text-align: center">
                                <thead style="position: sticky; top: 0px;">
                                    <tr class="table-success">
                                        <th class="bg-warning-subtle" style="width: 5%; white-space: nowrap;">8</th>
                                        <th style="width: 5%; white-space: nowrap;">9</th>
                                        <th style="width: 5%; white-space: nowrap;">10</th>
                                        <th style="width: 5%; white-space: nowrap;">11</th>
                                        <th style="width: 5%; white-space: nowrap;">12</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <input type="checkbox" name="time8_check" {% if attendance.time8_check %}checked{% endif %}>
                                        </td>
                                        <td>
                                            <input type="checkbox" name="time9_check" {% if attendance.time9_check %}checked{% endif %}>
                                        </td>
                                        <td>
                                            <input type="checkbox" name="time10_check" {% if attendance.time10_check %}checked{% endif %}>
                                        </td>
                                        <td>
                                            <input type="checkbox" name="time11_check" {% if attendance.time11_check %}checked{% endif %}>
                                        </td>
                                        <td>
                                            <input type="checkbox" name="time12_check" {% if attendance.time12_check %}checked{% endif %}>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
{#                        점심 이후 #}
                            <table class="table align-middle table-bordered" style="text-align: center">
                                <thead style="position: sticky; top: 0px;">
                                    <tr class="table-success">
                                        <th class="bg-warning-subtle" style="width: 5%; white-space: nowrap;">13</th>
                                        <th style="width: 5%; white-space: nowrap;">14</th>
                                        <th style="width: 5%; white-space: nowrap;">15</th>
                                        <th style="width: 5%; white-space: nowrap;">16</th>
                                        <th style="width: 5%; white-space: nowrap;">17</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <input type="checkbox" name="time13_check" {% if attendance.time13_check %}checked{% endif %}>
                                        </td>
                                        <td>
                                            <input type="checkbox" name="time14_check" {% if attendance.time14_check %}checked{% endif %}>
                                        </td>
                                        <td>
                                            <input type="checkbox" name="time15_check" {% if attendance.time15_check %}checked{% endif %}>
                                        </td>
                                        <td>
                                            <input type="checkbox" name="time16_check" {% if attendance.time16_check %}checked{% endif %}>
                                        </td>
                                        <td>
                                            <input type="checkbox" name="time17_check" {% if attendance.time17_check %}checked{% endif %}>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
{#                         저녁 이후 #}
                            <table class="table align-middle table-bordered" style="text-align: center">
                                <thead style="position: sticky; top: 0px;">
                                    <tr class="table-success">
                                        <th class="bg-warning-subtle" style="width: 5%; white-space: nowrap;">18</th>
                                        <th style="width: 5%; white-space: nowrap;">19</th>
                                        <th style="width: 5%; white-space: nowrap;">20</th>
                                        <th style="width: 5%; white-space: nowrap;">21</th>
                                        <th style="width: 5%; white-space: nowrap;">22</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <input type="checkbox" name="time18_check" {% if attendance.time18_check %}checked{% endif %}>
                                        </td>
                                        <td>
                                            <input type="checkbox" name="time19_check" {% if attendance.time19_check %}checked{% endif %}>
                                        </td>
                                        <td>
                                            <input type="checkbox" name="time20_check" {% if attendance.time20_check %}checked{% endif %}>
                                        </td>
                                        <td>
                                            <input type="checkbox" name="time21_check" {% if attendance.time21_check %}checked{% endif %}>
                                        </td>
                                        <td>
                                            <input type="checkbox" name="time22_check" {% if attendance.time22_check %}checked{% endif %}>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
{#                        지각 시간#}
                            <table class="table align-middle table-bordered" style="text-align: center">
                                <thead style="position: sticky; top: 0px;">
                                    <tr class="table-success">
                                        <th style="width: 5%; white-space: nowrap;">오전</th>
                                        <th style="width: 5%; white-space: nowrap;">점심</th>
                                        <th style="width: 5%; white-space: nowrap;">오후</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <input type="time" class="form-control" name="morning_late" id="morning_late_{{ attendance.id }}" value="{{ attendance.morning_late|default:''|date:'H:i' }}">
                                        </td>
                                        <td>
                                            <input type="time" class="form-control" name="lunch_late" id="lunch_late_{{ attendance.id }}" value="{{ attendance.lunch_late|default:''|date:'H:i' }}">
                                        </td>
                                        <td>
                                            <input type="time" class="form-control" name="night_late" id="night_late_{{ attendance.id }}" value="{{ attendance.night_late|default:''|date:'H:i' }}">
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="mb-3">
                                <label for="late-input" class="col-form-label">특이사항</label>
                                <input type="text" class="form-control" name="memo" id="memo-input{{ attendance.id }}" value="{{ attendance.memo|default_if_none:'' }}">
                            </div>
                            <div class="d-grid gap-2">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">저장</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <script>
            function validateForm() {
                var selectedDate = document.getElementById("selected_date").value;
                if (!selectedDate) {
                    alert("날짜를 지정해야 합니다.");
                    return false;
                }
                return true;
            }
        </script>
    {% endfor %}
    {% for attendance in attendances_s %}
        <div class="modal fade" id="exampleModal{{ attendance.id }}" tabindex="-1" aria-labelledby="exampleModalLabel{{ attendance.id }}" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel{{ attendance.id }}">출결 정보 입력 - {{ attendance.user.student }}</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form method="post" action="{% url 'check:update_attendance' attendance.id %}">
                            {% csrf_token %}
                            <div class="form-check mb-3">
                                <input type="checkbox" class="form-check-input" id="absent-checkbox{{ attendance.id }}" name="absent" {% if attendance.absent %}checked{% endif %}>
                                <label class="form-check-label" for="absent-checkbox{{ attendance.id }}">결석 여부</label>
                                <input type="hidden" name="attendance_id" value="{{ attendance.absent }}">  <!-- 출결 항목의 ID를 추가 -->
                            </div>
{#                          오전 #}
                            <table class="table align-middle table-bordered" style="text-align: center">
                                <thead style="position: sticky; top: 0px;">
                                    <tr class="table-success">
                                        <th class="bg-warning-subtle" style="width: 5%; white-space: nowrap;">8</th>
                                        <th style="width: 5%; white-space: nowrap;">9</th>
                                        <th style="width: 5%; white-space: nowrap;">10</th>
                                        <th style="width: 5%; white-space: nowrap;">11</th>
                                        <th style="width: 5%; white-space: nowrap;">12</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <input type="checkbox" name="time8_check" {% if attendance.time8_check %}checked{% endif %}>
                                        </td>
                                        <td>
                                            <input type="checkbox" name="time9_check" {% if attendance.time9_check %}checked{% endif %}>
                                        </td>
                                        <td>
                                            <input type="checkbox" name="time10_check" {% if attendance.time10_check %}checked{% endif %}>
                                        </td>
                                        <td>
                                            <input type="checkbox" name="time11_check" {% if attendance.time11_check %}checked{% endif %}>
                                        </td>
                                        <td>
                                            <input type="checkbox" name="time12_check" {% if attendance.time12_check %}checked{% endif %}>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
{#                        점심 이후 #}
                            <table class="table align-middle table-bordered" style="text-align: center">
                                <thead style="position: sticky; top: 0px;">
                                    <tr class="table-success">
                                        <th class="bg-warning-subtle" style="width: 5%; white-space: nowrap;">13</th>
                                        <th style="width: 5%; white-space: nowrap;">14</th>
                                        <th style="width: 5%; white-space: nowrap;">15</th>
                                        <th style="width: 5%; white-space: nowrap;">16</th>
                                        <th style="width: 5%; white-space: nowrap;">17</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <input type="checkbox" name="time13_check" {% if attendance.time13_check %}checked{% endif %}>
                                        </td>
                                        <td>
                                            <input type="checkbox" name="time14_check" {% if attendance.time14_check %}checked{% endif %}>
                                        </td>
                                        <td>
                                            <input type="checkbox" name="time15_check" {% if attendance.time15_check %}checked{% endif %}>
                                        </td>
                                        <td>
                                            <input type="checkbox" name="time16_check" {% if attendance.time16_check %}checked{% endif %}>
                                        </td>
                                        <td>
                                            <input type="checkbox" name="time17_check" {% if attendance.time17_check %}checked{% endif %}>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
{#                         저녁 이후 #}
                            <table class="table align-middle table-bordered" style="text-align: center">
                                <thead style="position: sticky; top: 0px;">
                                    <tr class="table-success">
                                        <th class="bg-warning-subtle" style="width: 5%; white-space: nowrap;">18</th>
                                        <th style="width: 5%; white-space: nowrap;">19</th>
                                        <th style="width: 5%; white-space: nowrap;">20</th>
                                        <th style="width: 5%; white-space: nowrap;">21</th>
                                        <th style="width: 5%; white-space: nowrap;">22</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <input type="checkbox" name="time18_check" {% if attendance.time18_check %}checked{% endif %}>
                                        </td>
                                        <td>
                                            <input type="checkbox" name="time19_check" {% if attendance.time19_check %}checked{% endif %}>
                                        </td>
                                        <td>
                                            <input type="checkbox" name="time20_check" {% if attendance.time20_check %}checked{% endif %}>
                                        </td>
                                        <td>
                                            <input type="checkbox" name="time21_check" {% if attendance.time21_check %}checked{% endif %}>
                                        </td>
                                        <td>
                                            <input type="checkbox" name="time22_check" {% if attendance.time22_check %}checked{% endif %}>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
{#                        지각 시간#}
                            <table class="table align-middle table-bordered" style="text-align: center">
                                <thead style="position: sticky; top: 0px;">
                                    <tr class="table-success">
                                        <th style="width: 5%; white-space: nowrap;">오전</th>
                                        <th style="width: 5%; white-space: nowrap;">점심</th>
                                        <th style="width: 5%; white-space: nowrap;">오후</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <input type="time" class="form-control" name="morning_late" id="morning_late_{{ attendance.id }}" value="{{ attendance.morning_late|default:''|date:'H:i' }}">
                                        </td>
                                        <td>
                                            <input type="time" class="form-control" name="lunch_late" id="lunch_late_{{ attendance.id }}" value="{{ attendance.lunch_late|default:''|date:'H:i' }}">
                                        </td>
                                        <td>
                                            <input type="time" class="form-control" name="night_late" id="night_late_{{ attendance.id }}" value="{{ attendance.night_late|default:''|date:'H:i' }}">
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="mb-3">
                                <label for="late-input" class="col-form-label">특이사항</label>
                                <input type="text" class="form-control" name="memo" id="memo-input{{ attendance.id }}" value="{{ attendance.memo|default_if_none:'' }}">
                            </div>
                            <div class="d-grid gap-2">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">저장</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <script>
            function validateForm() {
                var selectedDate = document.getElementById("selected_date").value;
                if (!selectedDate) {
                    alert("날짜를 지정해야 합니다.");
                    return false;
                }
                return true;
            }
        </script>
    {% endfor %}
    {% for attendance in attendances_m %}
        <div class="modal fade" id="exampleModal{{ attendance.id }}" tabindex="-1" aria-labelledby="exampleModalLabel{{ attendance.id }}" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel{{ attendance.id }}">출결 정보 입력 - {{ attendance.user.student }}</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form method="post" action="{% url 'check:update_attendance' attendance.id %}">
                            {% csrf_token %}
                            <div class="form-check mb-3">
                                <input type="checkbox" class="form-check-input" id="absent-checkbox{{ attendance.id }}" name="absent" {% if attendance.absent %}checked{% endif %}>
                                <label class="form-check-label" for="absent-checkbox{{ attendance.id }}">결석 여부</label>
                                <input type="hidden" name="attendance_id" value="{{ attendance.absent }}">  <!-- 출결 항목의 ID를 추가 -->
                            </div>
{#                          오전 #}
                            <table class="table align-middle table-bordered" style="text-align: center">
                                <thead style="position: sticky; top: 0px;">
                                    <tr class="table-success">
                                        <th class="bg-warning-subtle" style="width: 5%; white-space: nowrap;">8</th>
                                        <th style="width: 5%; white-space: nowrap;">9</th>
                                        <th style="width: 5%; white-space: nowrap;">10</th>
                                        <th style="width: 5%; white-space: nowrap;">11</th>
                                        <th style="width: 5%; white-space: nowrap;">12</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <input type="checkbox" name="time8_check" {% if attendance.time8_check %}checked{% endif %}>
                                        </td>
                                        <td>
                                            <input type="checkbox" name="time9_check" {% if attendance.time9_check %}checked{% endif %}>
                                        </td>
                                        <td>
                                            <input type="checkbox" name="time10_check" {% if attendance.time10_check %}checked{% endif %}>
                                        </td>
                                        <td>
                                            <input type="checkbox" name="time11_check" {% if attendance.time11_check %}checked{% endif %}>
                                        </td>
                                        <td>
                                            <input type="checkbox" name="time12_check" {% if attendance.time12_check %}checked{% endif %}>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
{#                        점심 이후 #}
                            <table class="table align-middle table-bordered" style="text-align: center">
                                <thead style="position: sticky; top: 0px;">
                                    <tr class="table-success">
                                        <th class="bg-warning-subtle" style="width: 5%; white-space: nowrap;">13</th>
                                        <th style="width: 5%; white-space: nowrap;">14</th>
                                        <th style="width: 5%; white-space: nowrap;">15</th>
                                        <th style="width: 5%; white-space: nowrap;">16</th>
                                        <th style="width: 5%; white-space: nowrap;">17</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <input type="checkbox" name="time13_check" {% if attendance.time13_check %}checked{% endif %}>
                                        </td>
                                        <td>
                                            <input type="checkbox" name="time14_check" {% if attendance.time14_check %}checked{% endif %}>
                                        </td>
                                        <td>
                                            <input type="checkbox" name="time15_check" {% if attendance.time15_check %}checked{% endif %}>
                                        </td>
                                        <td>
                                            <input type="checkbox" name="time16_check" {% if attendance.time16_check %}checked{% endif %}>
                                        </td>
                                        <td>
                                            <input type="checkbox" name="time17_check" {% if attendance.time17_check %}checked{% endif %}>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
{#                         저녁 이후 #}
                            <table class="table align-middle table-bordered" style="text-align: center">
                                <thead style="position: sticky; top: 0px;">
                                    <tr class="table-success">
                                        <th class="bg-warning-subtle" style="width: 5%; white-space: nowrap;">18</th>
                                        <th style="width: 5%; white-space: nowrap;">19</th>
                                        <th style="width: 5%; white-space: nowrap;">20</th>
                                        <th style="width: 5%; white-space: nowrap;">21</th>
                                        <th style="width: 5%; white-space: nowrap;">22</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <input type="checkbox" name="time18_check" {% if attendance.time18_check %}checked{% endif %}>
                                        </td>
                                        <td>
                                            <input type="checkbox" name="time19_check" {% if attendance.time19_check %}checked{% endif %}>
                                        </td>
                                        <td>
                                            <input type="checkbox" name="time20_check" {% if attendance.time20_check %}checked{% endif %}>
                                        </td>
                                        <td>
                                            <input type="checkbox" name="time21_check" {% if attendance.time21_check %}checked{% endif %}>
                                        </td>
                                        <td>
                                            <input type="checkbox" name="time22_check" {% if attendance.time22_check %}checked{% endif %}>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
{#                        지각 시간#}
                            <table class="table align-middle table-bordered" style="text-align: center">
                                <thead style="position: sticky; top: 0px;">
                                    <tr class="table-success">
                                        <th style="width: 5%; white-space: nowrap;">오전</th>
                                        <th style="width: 5%; white-space: nowrap;">점심</th>
                                        <th style="width: 5%; white-space: nowrap;">오후</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <input type="time" class="form-control" name="morning_late" id="morning_late_{{ attendance.id }}" value="{{ attendance.morning_late|default:''|date:'H:i' }}">
                                        </td>
                                        <td>
                                            <input type="time" class="form-control" name="lunch_late" id="lunch_late_{{ attendance.id }}" value="{{ attendance.lunch_late|default:''|date:'H:i' }}">
                                        </td>
                                        <td>
                                            <input type="time" class="form-control" name="night_late" id="night_late_{{ attendance.id }}" value="{{ attendance.night_late|default:''|date:'H:i' }}">
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="mb-3">
                                <label for="late-input" class="col-form-label">특이사항</label>
                                <input type="text" class="form-control" name="memo" id="memo-input{{ attendance.id }}" value="{{ attendance.memo|default_if_none:'' }}">
                            </div>
                            <div class="d-grid gap-2">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">저장</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <script>
            function validateForm() {
                var selectedDate = document.getElementById("selected_date").value;
                if (!selectedDate) {
                    alert("날짜를 지정해야 합니다.");
                    return false;
                }
                return true;
            }
        </script>
    {% endfor %}
{% endblock %}
