<!-- check_main.html -->
{% extends 'base.html' %}
{% block content %}
    <style>
        @font-face {
            font-family: 'PyeongChangPeace-Bold';
            src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/PyeongChangPeace-Bold.woff2') format('woff2');
            font-weight: 700;
            font-style: normal;
        }
    </style>
    <div class="container-fluid">
        <div class="row">
            {% if messages %}
                <div id="messages" style="display:none;">
                    {% for message in messages %}
                        <span>{{ message }}</span>
                    {% endfor %}
                </div>
            {% endif %}
            <div class="col-md-2 text-center">
                {% include 'check/check_menu.html' %}
                <ul class="list-group dropdown-center mt-3">
                    <a href="{% url 'check:attendance_index_p' %}"
                        class="list-group-item list-group-item-action text-center"
                        aria-current="true">
                        P반
                    </a>
                    <a href="{% url 'check:attendance_index_s' %}"
                        class="list-group-item list-group-item-action text-center"
                        aria-current="true">
                        S반
                    </a>
                    <a href="{% url 'check:attendance_index_m' %}"
                        class="list-group-item list-group-item-action text-center"
                        aria-current="true">
                        M반
                    </a>
                </ul>
                <form method="POST" action="{% url 'check:index' %}">
                    {% csrf_token %}
                    <div class="card border-secondary mt-3">
                        <div class="card-header bg-warning-subtle">
                            <input type="date" name="selected_date" id="selected_date">
                        </div>
                        <div class="card-body">
                            <button type="submit" class="btn btn-outline-primary" name="class_button" value="P">P반</button>
                            <button type="submit" class="btn btn-outline-info" name="class_button" value="S">S반</button>
                            <button type="submit" class="btn btn-outline-warning" name="class_button" value="M">M반</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-2 text-center">
                <form method="post" action="{% url 'check:create_book' %}" onsubmit="return validateForm1()">
                    {% csrf_token %}
                    <div class="card border-secondary">
                        <div class="card-header bg-success-subtle">
                            <input type="date" name="selected_date" id="selected_date1">
                        </div>
                        <div class="card-body">
                            <button type="submit" class="btn btn-outline-success">
                                출석부 생성
                            </button>
                        </div>
                    </div>
                </form>
                <form method="post" action="{% url 'check:create_patrol' %}" onsubmit="return validateForm2()">
                    {% csrf_token %}
                    <div class="card border-secondary mt-3">
                        <div class="card-header bg-primary-subtle">
                            <input type="date" name="selected_date" id="selected_date2">
                        </div>
                        <div class="card-body">
                            <button type="submit" class="btn btn-outline-primary">
                                일일 순찰 생성
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-8">
                <form method="post" action="{% url 'check:specify' %}">
                    {% csrf_token %}
                    <h5 class="border-bottom pb-2">특이사항</h5>
                    <textarea class="form-control" id="id_content" name="content" rows="20">{{ content }}</textarea>
                    <button type="submit" class="btn btn-primary mt-3">저장하기</button>
                </form>
            </div>
        </div>
    </div>
    <script>
    function validateForm1() {
    var selectedDate = document.getElementById("selected_date1").value;
    if (!selectedDate) {
        alert("날짜를 지정해야 합니다.");
        return false;
    }
    return true;
    }

    function validateForm2() {
        var selectedDate = document.getElementById("selected_date2").value;
        if (!selectedDate) {
            alert("날짜를 지정해야 합니다.");
            return false;
        }
        return true;
    }
    </script>
    <script type="text/javascript">
    window.onload = function() {
        var messageContainer = document.getElementById('messages');
        if (messageContainer) {
            var messages = messageContainer.getElementsByTagName('span');
            for (var i = 0; i < messages.length; i++) {
                alert(messages[i].textContent); // 각 메시지를 알림창으로 표시
            }
        }
    };
</script>
{% endblock %}
