<div class="col-md-2 text-center">
    <ul class="list-group dropdown-center">
        <a href="{% url 'check:index' %}"
            class="list-group-item list-group-item-action text-center"
            aria-current="true">
            출석부
        </a>
        <a href="{% url 'check:patrol' %}"
            class="list-group-item list-group-item-action text-center"
            aria-current="true">
            일일순찰
        </a>
    </ul>
    <ul class="list-group dropdown-center mt-3">
        <a href="{% url 'check:patrol_p_class' %}"
            class="list-group-item list-group-item-action text-center"
            aria-current="true">
            P반
        </a>
        <a href="{% url 'check:patrol_s_class' %}"
            class="list-group-item list-group-item-action text-center"
            aria-current="true">
            S반
        </a>
    </ul>
    <form method="post" action="{% url 'check:create_patrol' %}" onsubmit="return validateForm()">
        {% csrf_token %}
        <div class="card border-secondary mt-3">
            <div class="card-header bg-primary-subtle">
                <input type="date" name="selected_date" id="selected_date">
            </div>
            <div class="card-body">
                <button type="submit" class="btn btn-outline-success">
                    일일 순찰 생성
                </button>
            </div>
        </div>
    </form>
</div>

<script>
    function validateForm() {
        var selectedDate = document.getElementById("selected_date").value;
        if (!selectedDate) {
            alert("날짜를 지정해야 합니다.");
            return false;
        }
        return true;
    }
</script>