{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <div class="row">
            {% include 'reserve/reserve_teacher_table_main.html' %}
            <div class="col-md-6">
                <!-- 콘텐츠 내용 -->
                <table class="table align-middle" style="text-align: center">
                    <thead>
                    <tr class="table-success">
                        <th style="width: 20%; white-space: nowrap;">과목</th>
                        <th style="width: 20%; white-space: nowrap;">선생님</th>
                        <th style="width: 20%; white-space: nowrap;">요일</th>
                        <th style="width: 40%; white-space: nowrap;">시간</th>
                    </tr>
                    </thead>
                    {% if teacher %}
                        {% for t in teacher %}
                            {% if not t.retired %}
                                <tr class="table">
                                    <td style="white-space: nowrap;">{{ t.subject }}</td>
                                    <td style="white-space: nowrap;">{{ t.name }}</td>
                                    <td style="white-space: nowrap;">{{ t.duty_day }}</td>
                                    <td style="white-space: nowrap;">{{ t.duty_time }}</td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </table>
            </div>
            <div class="col-md-3">
                <div class="card border-success mb-3" style="max-width: 18rem;">
                    <div class="card-header bg-success text-light"><strong>공지사항</strong></div>
                    <div class="card-header text-success">{{ notice.notice_header }}</div>
                    <div class="card-body">
                        <p class="card-text">{{ notice.notice_body }}</p>
                    </div>
                </div>
                {% if request.user.is_staff %}
                    <button type="button" name="action" data-bs-toggle="modal" data-bs-target="#exampleModal"
                            class="btn btn-success">공지사항 등록
                    </button>
                {% endif %}
            </div>
        </div>
    </div>
{#    Modal #}
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title fs-5" id="exampleModalLabel">공지사항</h3>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row mb-3">
                        <form method="post" action="{% url 'reserve:register' %}">
                            {% csrf_token %}
                              <div class="mb-3">
                                <label for="notice_header" class="col-form-label">제목 : </label>
                                <input type="text" class="form-control" id="notice_header" name="notice_header">
                              </div>
                              <div class="mb-3">
                                <label for="notice_body" class="col-form-label">내용 :</label>
                                <textarea class="form-control" id="notice_body" name="notice_body"></textarea>
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">등록하기</button>
                              </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}