{% extends 'base.html' %} {% block content %}
    <div class="container">
        <h5 class="my-3 border-bottom pb-2">선생님 수정</h5>
        <form method="post">
            {% csrf_token %} {% include 'form_errors.html' %}
            <div class="row mb-3">
                <div class="col-md-2">
                    <label for="id_name" class="form-label">이름</label>
                    <input type="text" class="form-control" id="id_name" name="name"
                           value="{{ form.instance.name }}">
                </div>
                <div class="col-md-2">
                    <label for="id_subject" class="form-label">과목</label>
                    <input type="text" class="form-control" id="id_subject" name="subject"
                           value="{{ form.instance.subject }}">
                </div>
                <div class="col-md-2">
                    <label for="id_duty_day" class="form-label">요일</label>
                    <input type="text" class="form-control" id="id_duty_day" name="duty_day"
                           value="{{ form.instance.duty_day|default_if_none:'' }}">
                </div>
                <div class="col-md-2">
                    <label for="id_duty_time" class="form-label">시간</label>
                    <input type="text" class="form-control" id="id_duty_time" name="duty_time"
                           value="{{ form.instance.duty_time|default_if_none:'' }}">
                </div>
                <div class="col-md-2">
                    <label class="form-check-label" for="id_retired">퇴직 여부</label>
                    <input type="checkbox" class="form-check-input" id="id_retired" name="retired"
                           {% if form.instance.retired %}checked{% endif %}>
                </div>
                <div class="col-md-2">
                    <button type="submit" class="btn btn-primary">저장하기</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
