{% extends 'base.html' %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            {% include 'manager/manager_main_menu.html' %}
            <div class="col-md-2 text-center list-group" style="height:700px">
                    <a href="{% url 'manager:reserve_create' %}" class="btn list-group-item-action border-secondary mb-1">예약 생성</a>
                    <a href="{% url 'manager:reserve_detail' %}" class="btn list-group-item-action border-secondary mb-1">예약 조회</a>
            </div>
        </div>
    </div>
{% endblock %}