{% extends 'base.html' %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            {% include 'manager/manager_main_menu.html' %}
            <div class="col-md-10">
                <div class="row">
                    <div class="col-md-2 text-center">
                        {% for student in students_p %}
                            {% for num in p_line1 %}
                                {% if student.class_num == num %}
                                    <div class="card mb-2" style="max-width: 12rem;">
                                        <a type='button' style="font-size:16px" class="btn btn-lg btn-outline-secondary" href="{% url 'manager:weekplan_detail' student.id %}">{{ student.class_name }}-{{ student.class_num }} {{ student.student }}</a>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    </div>
                    <div class="col-md-2 text-center">
                        {% for student in students_p %}
                            {% for num in p_line2 %}
                                {% if student.class_num == num %}
                                    <div class="card mb-2" style="max-width: 12rem;">
                                        <a type='button' style="font-size:16px" class="btn btn-lg btn-outline-secondary" href="{% url 'manager:weekplan_detail' student.id %}">{{ student.class_name }}-{{ student.class_num }} {{ student.student }}</a>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    </div>
                    <div class="col-md-2 text-center">
                        {% for student in students_s %}
                            {% for num in s_line1 %}
                                {% if student.class_num == num %}
                                    <div class="card mb-2" style="max-width: 12rem;">
                                        <a type='button' style="font-size:16px" class="btn btn-lg btn-outline-secondary" href="{% url 'manager:weekplan_detail' student.id %}">{{ student.class_name }}-{{ student.class_num }} {{ student.student }}</a>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    </div>
                    <div class="col-md-2 text-center">
                        {% for student in students_s %}
                            {% for num in s_line2 %}
                                {% if student.class_num == num %}
                                    <div class="card mb-2" style="max-width: 12rem;">
                                        <a type='button' style="font-size:16px" class="btn btn-lg btn-outline-secondary" href="{% url 'manager:weekplan_detail' student.id %}">{{ student.class_name }}-{{ student.class_num }} {{ student.student }}</a>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    </div>
                    <div class="col-md-2 text-center">
                        {% for student in students_s %}
                            {% for num in s_line3 %}
                                {% if student.class_num == num %}
                                    <div class="card mb-2" style="max-width: 12rem;">
                                        <a type='button' style="font-size:16px" class="btn btn-lg btn-outline-secondary" href="{% url 'manager:weekplan_detail' student.id %}">{{ student.class_name }}-{{ student.class_num }} {{ student.student }}</a>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    </div>
                    <div class="col-md-2 text-center">
                        {% for student in students_m %}
                            <div class="card mb-2" style="max-width: 12rem;">
                                <a type='button' style="font-size:16px" class="btn btn-lg btn-outline-secondary" href="{% url 'manager:weekplan_detail' student.id %}">{{ student.class_name }}-{{ student.class_num }} {{ student.student }}</a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
