{% extends 'base.html' %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            {% include 'manager/manager_main_menu.html' %}
            <div class="col-md-2 text-center">
                <div class="card" style="height: 16rem">
                    <div class="card-header">
                        <h5 class="card-title">{{ student.class_name }}-{{ student.class_num }} {{ student.student }}</h5>
                    </div>
                    <div class="scroll-container overflow-auto" data-bs-spy="scroll"
                         data-bs-smooth-scroll="true">
                        <div class="text-center list-group list-group-flush" id="list-example" data-bs-spy="scroll"
                             data-bs-smooth-scroll="true"
                             tabindex="0">
                            {% for data in data %}
                                <a href="{% url 'manager:planner_modify' data.id %}}"
                                   class="list-group-item disabled">{{ data.week_name }}</a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            {# 주차 선택하면 나올 수 있도록 #}
            <div class="col-md-8">
                {% if student %}
                    <form method="post">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-3">
                                <div class="card border-secondary mb-3" style="height: 16em">
                                    <div class="card-header bg-secondary-subtle">
                                        <input type="text" class="form-control" id="id_student_name" name="student_name"
                                               value="{{ form.student_name.value|default_if_none:'' }}" readonly>
                                        <input type="text" class="form-control" id="id_user" name="user"
                                               value="{{ form.user.value|default_if_none:'' }}" readonly>
                                        <h5 class="card-title">{{ selected_week }}</h5>
                                    </div>
                                    <div class="card-body">
                                        <label for="id_week_name" class="form-label">주차</label>
                                        <input type="text" class="form-control" id="id_week_name" name="week_name"
                                               placeholder="1월 1주차"
                                               value="{{ form.week_name.value|default_if_none:'' }}">
                                    </div>
                                </div>
                                <div class="card border-secondary mb-3" style="height: 16rem">
                                    <div class="card-header bg-danger-subtle">영어</div>
                                    <div class="card-body">
                                        <label for="id_english_self_study" class="form-label">자습</label>
                                        <input type="text" class="form-control" id="id_english_self_study" name="english_self_study"
                                               placeholder="분"
                                               value="{{ form.english_self_study.value|default_if_none:'' }}">
                                    </div>
                                    <div class="card-body">
                                        <label for="id_english_lecture_study" class="form-label">인강</label>
                                        <input type="text" class="form-control" id="id_english_lecture_study" name="english_lecture_study"
                                               placeholder="분"
                                               value="{{ form.english_lecture_study.value|default_if_none:'' }}">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="card border-secondary mb-3" style="height: 16rem">
                                    <div class="card-header bg-warning-subtle">국어</div>
                                    <div class="card-body">
                                        <label for="id_korean_self_study" class="form-label">자습</label>
                                        <input type="text" class="form-control" id="id_korean_self_study" name="korean_self_study"
                                               placeholder="분"
                                               value="{{ form.korean_self_study.value|default_if_none:'' }}">
                                    </div>
                                    <div class="card-body">
                                        <label for="id_korean_lecture_study" class="form-label">인강</label>
                                        <input type="text" class="form-control" id="id_korean_lecture_study" name="korean_lecture_study"
                                               placeholder="분"
                                               value="{{ form.korean_lecture_study.value|default_if_none:'' }}">
                                    </div>
                                </div>
                                <div class="card border-secondary mb-3" style="height: 16rem">
                                    <div class="card-header bg-info-subtle">{{ data.research1 }}</div>
                                    <div class="card-body">
                                        <label for="id_research1_self_study" class="form-label">자습</label>
                                        <input type="text" class="form-control" id="id_research1_self_study" name="research1_self_study"
                                               placeholder="분"
                                               value="{{ form.research1_self_study.value|default_if_none:'' }}">
                                    </div>
                                    <div class="card-body">
                                        <label for="id_research1_lecture_study" class="form-label">인강</label>
                                        <input type="text" class="form-control" id="id_research1_lecture_study" name="research1_lecture_study"
                                               placeholder="분"
                                               value="{{ form.research1_lecture_study.value|default_if_none:'' }}">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="card border-secondary mb-3" style="height: 16rem">
                                    <div class="card-header bg-success-subtle">수학</div>
                                    <div class="card-body">
                                        <label for="id_math_self_study" class="form-label">자습</label>
                                        <input type="text" class="form-control" id="id_math_self_study" name="math_self_study"
                                               placeholder="분"
                                               value="{{ form.math_self_study.value|default_if_none:'' }}">
                                    </div>
                                    <div class="card-body">
                                        <label for="id_math_lecture_study" class="form-label">인강</label>
                                        <input type="text" class="form-control" id="id_math_lecture_study" name="math_lecture_study"
                                               placeholder="분"
                                               value="{{ form.math_lecture_study.value|default_if_none:'' }}">
                                    </div>
                                </div>
                                <div class="card border-secondary mb-3" style="height: 16rem">
                                    <div class="card-header bg-primary-subtle">{{ data.research2 }}</div>
                                    <div class="card-body">
                                        <label for="id_research2_self_study" class="form-label">자습</label>
                                        <input type="text" class="form-control" id="id_research2_self_study" name="research2_self_study"
                                               placeholder="분"
                                               value="{{ form.research2_self_study.value|default_if_none:'' }}">
                                    </div>
                                    <div class="card-body">
                                        <label for="id_research2_lecture_study" class="form-label">인강</label>
                                        <input type="text" class="form-control" id="id_research2_lecture_study" name="research2_lecture_study"
                                               placeholder="분"
                                               value="{{ form.research2_lecture_study.value|default_if_none:'' }}">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">저장하기</button>
                    </form>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
