{% extends 'base.html' %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            {% include 'manager/manager_main_menu.html' %}
            <div class="col-md-2 text-center list-group" style="height: 700px">
                <div class="card border-secondary mb-3">
                    <form method="GET" action="{% url 'manager:student_study_detail' %}">
                        <div class="card-header bg-primary-subtle">학과습 학생 검색</div>
                        <div class="card-body">
                            <div class="input-group mb-4">
                                {% csrf_token %}
                                <span class="input-group-text" id="inputGroup-sizing-default">학생명</span>
                                <input type="text" name="student_name" id="student_name"
                                       class="form-control btn-outline-secondary"
                                       placeholder="학생명" aria-label="Recipient's username"
                                       aria-describedby="button-addon2">
                            </div>
                            <button class="btn btn-outline-success" type="submit" id="button-addon2">검색</button>
                        </div>
                    </form>
                </div>
            </div>

            <div class="col-md-1 text-center">
                <div class="card" style="height: 32rem">
                    <div class="card-header">
                        {{ student_name }}
                    </div>
                    <div class="scroll-container overflow-auto" data-bs-spy="scroll"
                         data-bs-smooth-scroll="true">
                        <div class="text-center list-group list-group-flush" id="list-example" data-bs-spy="scroll"
                             data-bs-smooth-scroll="true"
                             tabindex="0">
                            {% for week in unique_week %}
                                <a href="?student_name={{ student_name }}&selected_week={{ week }}"
                                   class="list-group-item" style="white-space:nowrap;">{{ week }}</a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>

            {% if selected_week %}
                {% if filtered_data %}
                    <div class="col-md-7">
                        <div class="row">
                            <div class="col-md-4">
                                {% if filtered_data %}
                                    {% for data in filtered_data %}
                                        <div class="card border-secondary mb-3" style="height: 16rem">
                                            <div class="card-header bg-secondary-subtle">
                                                <h5 class="card-title">{{ student_name }}</h5>
                                                <p class="card-text">{{ selected_week }}</p>
                                            </div>
                                            <div class="card-body">
                                                <p>자습 시간 - ??분</p>
                                                <p>인강 시간 - ??분</p>
                                            </div>
                                        </div>
                                        <div class="card border-secondary mb-3" style="height: 16rem">
                                            <div class="card-header bg-danger-subtle">영어</div>
                                            <div class="card-body">
                                                <p>영어 자습 - {{ data.english_self_study }}분</p>
                                                <p>영어 인강 - {{ data.english_lecture_study }}분</p>
                                            </div>
                                        </div>
                                    {% endfor %}
                                {% endif %}
                            </div>
                            <div class="col-md-4">
                                {% if filtered_data %}
                                    {% for data in filtered_data %}
                                        <div class="card border-secondary mb-3" style="height: 16rem">
                                            <div class="card-header bg-warning-subtle">국어</div>
                                            <div class="card-body">
                                                <p>국어 자습 - {{ data.korean_self_study }}분</p>
                                                <p>국어 인강 - {{ data.korean_lecture_study }}분</p>
                                            </div>
                                        </div>
                                        <div class="card border-secondary mb-3" style="height: 16rem">
                                            <div class="card-header bg-info-subtle">{{ data.research1 }}</div>
                                            <div class="card-body">
                                                <p>{{ data.research1 }} 자습 - {{ data.research1_self_study }}분</p>
                                                <p>{{ data.research1 }} 인강 - {{ data.research1_lecture_study }}분</p>
                                            </div>
                                        </div>
                                    {% endfor %}
                                {% endif %}
                            </div>
                            <div class="col-md-4">
                                {% if filtered_data %}
                                    {% for data in filtered_data %}
                                        <div class="card border-secondary mb-3" style="height: 16rem">
                                            <div class="card-header bg-success-subtle">수학</div>
                                            <div class="card-body">
                                                <p>수학 자습 - {{ data.math_self_study }}분</p>
                                                <p>수학 인강 - {{ data.math_lecture_study }}분</p>
                                            </div>
                                        </div>
                                        <div class="card border-secondary mb-3" style="height: 16rem">
                                            <div class="card-header bg-primary-subtle">{{ data.research2 }}</div>
                                            <div class="card-body">
                                                <p>{{ data.research2 }} 자습 - {{ data.research2_self_study }}분</p>
                                                <p>{{ data.research2 }} 인강 - {{ data.research2_lecture_study }}분</p>
                                            </div>
                                        </div>
                                    {% endfor %}
                                {% endif %}
                            </div>

                        </div>
                    </div>
                {% endif %}
            {% endif %}
        </div>
    </div>
{% endblock %}
