{% include 'check/check_menu.html' %}
<ul class="list-group dropdown-center mt-3">
    <a href="{% url 'check:attendance_index_p' %}"
        class="list-group-item list-group-item-action text-center"
        aria-current="true">
        P반
    </a>
    <a href="{% url 'check:attendance_index_s' %}"
        class="list-group-item list-group-item-action text-center"
        aria-current="true">
        S반
    </a>
    <a href="{% url 'check:attendance_index_m' %}"
        class="list-group-item list-group-item-action text-center"
        aria-current="true">
        M반
    </a>
</ul>
<form method="post" action="{% url 'check:index' %}">
    {% csrf_token %}
    <div class="card border-secondary mt-3">
        <div class="card-header bg-warning-subtle">
            <input type="date" name="selected_date" id="selected_date">
        </div>
        <div class="card-body">
            <button type="submit" class="btn btn-outline-primary" name="class_button" value="P">P반</button>
            <button type="submit" class="btn btn-outline-info" name="class_button" value="S">S반</button>
            <button type="submit" class="btn btn-outline-warning" name="class_button" value="M">M반</button>
        </div>
    </div>
</form>

<script>
    function validateForm() {
        var selectedDate = document.getElementById("selected_date").value;
        if (!selectedDate) {
            alert("날짜를 지정해야 합니다.");
            return false;
        }
        return true;
    }
</script>