<!-- check_main.html -->
{% extends 'base.html' %}
{% block content %}
    <style>
        @font-face {
            font-family: 'PyeongChangPeace-Bold';
            src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/PyeongChangPeace-Bold.woff2') format('woff2');
            font-weight: 700;
            font-style: normal;
        }
    </style>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2 text-center">
                {% include 'check/attendance/attendance_menu.html' %}
            </div>
            <div class="col-md-10">
                <h3 style="font-family: 'PyeongChangPeace-Bold', sans-serif;">
                    <span style="color:mediumseagreen; font-size:24px; "> {{ current_date }} </span>
                    <span style="color:dodgerblue; font-size:24px; "> S반 </span>
                    <span style="font-size:24px; "> 출석부 </span>
                </h3>
                <table class="table align-middle table-bordered" style="text-align: center">
                    <thead style="position: sticky; top: 0px;">
                        <tr class="table-success">
                            <th style="width: 10%; white-space: nowrap;"></th>
                            <th style="width: 5%; white-space: nowrap;">결석</th>
                            <th style="width: 5%; white-space: nowrap;">8</th>
                            <th style="width: 5%; white-space: nowrap;">9</th>
                            <th style="width: 5%; white-space: nowrap;">10</th>
                            <th style="width: 5%; white-space: nowrap;">11</th>
                            <th style="width: 5%; white-space: nowrap;">12</th>
                            <th style="width: 5%; white-space: nowrap;">13</th>
                            <th style="width: 5%; white-space: nowrap;">14</th>
                            <th style="width: 5%; white-space: nowrap;">15</th>
                            <th style="width: 5%; white-space: nowrap;">16</th>
                            <th style="width: 5%; white-space: nowrap;">17</th>
                            <th style="width: 5%; white-space: nowrap;">18</th>
                            <th style="width: 5%; white-space: nowrap;">19</th>
                            <th style="width: 5%; white-space: nowrap;">20</th>
                            <th style="width: 5%; white-space: nowrap;">21</th>
                            <th style="width: 5%; white-space: nowrap;">22</th>
                            <th style="width: 5%; white-space: nowrap;"></th>
                        </tr>
                    </thead>
                <form method="post" action="{% url 'check:attendance_index_s' %}">
                    {% csrf_token %}
                    {% for attendance in attendances_s %}
                        <input type="hidden" name="attendance_id" value="{{ attendance.id }}">
                        <tbody>
                            <tr>
                            {% if attendance.absent %}
                                <td rowspan="2" class="bg-secondary">{{ attendance.user.class_name }}-{{ attendance.user.class_num }}
                                    <br>
                                    {{ attendance.user.student }}</td>
                            {% else %}
                                <td rowspan="2">
                                    <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#staticBackdrop{{ attendance.id }}">
                                      {{ attendance.user.class_name }}-{{ attendance.user.class_num }}
                                        <br>{{ attendance.user.student }}
                                    </button>
                                </td>
                            {% endif %}
                                <td><input type="checkbox" name="absent_{{ attendance.id }}" {% if attendance.absent %}checked{% endif %}></td>
                            {% if attendance.time8 != "" %}
                                <td class="bg-secondary">
                                    <input type="checkbox" name="time8_check_{{ attendance.id }}" {% if attendance.time8_check %}checked{% endif %}>
                                </td>
                            {% else %}
                                <td>
                                    <input type="checkbox" name="time8_check_{{ attendance.id }}" {% if attendance.time8_check %}checked{% endif %}>
                                </td>
                            {% endif %}

                            {% if attendance.time9 != "" %}
                                <td class="bg-secondary">
                                    <input type="checkbox" name="time9_check_{{ attendance.id }}" {% if attendance.time9_check %}checked{% endif %}>
                                </td>
                            {% else %}
                                <td>
                                    <input type="checkbox" name="time9_check_{{ attendance.id }}" {% if attendance.time9_check %}checked{% endif %}>
                                </td>
                            {% endif %}

                            {% if attendance.time10 != "" %}
                                <td class="bg-secondary">
                                    <input type="checkbox" name="time10_check_{{ attendance.id }}" {% if attendance.time10_check %}checked{% endif %}>
                                </td>
                            {% else %}
                                <td>
                                    <input type="checkbox" name="time10_check_{{ attendance.id }}" {% if attendance.time10_check %}checked{% endif %}>
                                </td>
                            {% endif %}

                            {% if attendance.time11 != "" %}
                                <td class="bg-secondary">
                                    <input type="checkbox" name="time11_check_{{ attendance.id }}" {% if attendance.time11_check %}checked{% endif %}>
                                </td>
                            {% else %}
                                <td>
                                    <input type="checkbox" name="time11_check_{{ attendance.id }}" {% if attendance.time11_check %}checked{% endif %}>
                                </td>
                            {% endif %}

                            {% if attendance.time12 != "" %}
                                <td class="bg-secondary">
                                    <input type="checkbox" name="time12_check_{{ attendance.id }}" {% if attendance.time12_check %}checked{% endif %}>
                                </td>
                            {% else %}
                                <td>
                                    <input type="checkbox" name="time12_check_{{ attendance.id }}" {% if attendance.time12_check %}checked{% endif %}>
                                </td>
                            {% endif %}

                            {% if attendance.time13 != "" %}
                                <td class="bg-secondary">
                                    <input type="checkbox" name="time13_check_{{ attendance.id }}" {% if attendance.time13_check %}checked{% endif %}>
                                </td>
                            {% else %}
                                <td>
                                    <input type="checkbox" name="time13_check_{{ attendance.id }}" {% if attendance.time13_check %}checked{% endif %}>
                                </td>
                            {% endif %}

                            {% if attendance.time14 != "" %}
                                <td class="bg-secondary">
                                    <input type="checkbox" name="time14_check_{{ attendance.id }}" {% if attendance.time14_check %}checked{% endif %}>
                                </td>
                            {% else %}
                                <td>
                                    <input type="checkbox" name="time14_check_{{ attendance.id }}" {% if attendance.time14_check %}checked{% endif %}>
                                </td>
                            {% endif %}

                            {% if attendance.time15 != "" %}
                                <td class="bg-secondary">
                                    <input type="checkbox" name="time15_check_{{ attendance.id }}" {% if attendance.time15_check %}checked{% endif %}>
                                </td>
                            {% else %}
                                <td>
                                    <input type="checkbox" name="time15_check_{{ attendance.id }}" {% if attendance.time15_check %}checked{% endif %}>
                                </td>
                            {% endif %}

                            {% if attendance.time16 != "" %}
                                <td class="bg-secondary">
                                    <input type="checkbox" name="time16_check_{{ attendance.id }}" {% if attendance.time16_check %}checked{% endif %}>
                                </td>
                            {% else %}
                                <td>
                                    <input type="checkbox" name="time16_check_{{ attendance.id }}" {% if attendance.time16_check %}checked{% endif %}>
                                </td>
                            {% endif %}

                            {% if attendance.time17 != "" %}
                                <td class="bg-secondary">
                                    <input type="checkbox" name="time17_check_{{ attendance.id }}" {% if attendance.time17_check %}checked{% endif %}>
                                </td>
                            {% else %}
                                <td>
                                    <input type="checkbox" name="time17_check_{{ attendance.id }}" {% if attendance.time17_check %}checked{% endif %}>
                                </td>
                            {% endif %}

                            {% if attendance.time18 != "" %}
                                <td class="bg-secondary">
                                    <input type="checkbox" name="time18_check_{{ attendance.id }}" {% if attendance.time18_check %}checked{% endif %}>
                                </td>
                            {% else %}
                                <td>
                                    <input type="checkbox" name="time18_check_{{ attendance.id }}" {% if attendance.time18_check %}checked{% endif %}>
                                </td>
                            {% endif %}

                            {% if attendance.time19 != "" %}
                                <td class="bg-secondary">
                                    <input type="checkbox" name="time19_check_{{ attendance.id }}" {% if attendance.time19_check %}checked{% endif %}>
                                </td>
                            {% else %}
                                <td>
                                    <input type="checkbox" name="time19_check_{{ attendance.id }}" {% if attendance.time19_check %}checked{% endif %}>
                                </td>
                            {% endif %}

                            {% if attendance.time20 != "" %}
                                <td class="bg-secondary">
                                    <input type="checkbox" name="time20_check_{{ attendance.id }}" {% if attendance.time20_check %}checked{% endif %}>
                                </td>
                            {% else %}
                                <td>
                                    <input type="checkbox" name="time20_check_{{ attendance.id }}" {% if attendance.time20_check %}checked{% endif %}>
                                </td>
                            {% endif %}

                            {% if attendance.time21 != "" %}
                                <td class="bg-secondary">
                                    <input type="checkbox" name="time21_check_{{ attendance.id }}" {% if attendance.time21_check %}checked{% endif %}>
                                </td>
                            {% else %}
                                <td>
                                    <input type="checkbox" name="time21_check_{{ attendance.id }}" {% if attendance.time21_check %}checked{% endif %}>
                                </td>
                            {% endif %}

                            {% if attendance.time22 != "" %}
                                <td class="bg-secondary">
                                    <input type="checkbox" name="time22_check_{{ attendance.id }}" {% if attendance.time22_check %}checked{% endif %}>
                                </td>
                            {% else %}
                                <td>
                                    <input type="checkbox" name="time22_check_{{ attendance.id }}" {% if attendance.time22_check %}checked{% endif %}>
                                </td>
                            {% endif %}
{#                            조퇴는 이따가 #}
{#                                <td><input type="time" class="form-control" name="early_leave_{{ attendance.id }}" id="early_leave_{{ attendance.id }}" value="{{ attendance.early_leave|default:''|date:'H:i' }}"></td><!-- 특이사항 입력란 -->#}
                                <!-- 저장 버튼 -->
                                <td rowspan="2">
                                    <button type="submit" class="btn btn-primary btn-sm">저장</button>
                                </td>
                            </tr>
{#                            두번째 줄 #}
                            <tr>
                                <td colspan="3">
                                    <input type="time" class="form-control" name="morning_late_{{ attendance.id }}" id="morning_late_{{ attendance.id }}" value="{{ attendance.morning_late|default:''|date:'H:i' }}">
                                </td>
                                <td colspan="3">
                                    <input type="time" class="form-control" name="lunch_late_{{ attendance.id }}" id="lunch_late_{{ attendance.id }}" value="{{ attendance.lunch_late|default:''|date:'H:i' }}">
                                </td>
                                <td colspan="3">
                                    <input type="time" class="form-control" name="night_late_{{ attendance.id }}" id="night_late_{{ attendance.id }}" value="{{ attendance.night_late|default:''|date:'H:i' }}">
                                </td>
{#                                조퇴 #}
{#                                <td colspan="3">#}
{#                                    <input type="time" class="form-control" name="early_leave_{{ attendance.id }}" id="early_leave_{{ attendance.id }}" value="{{ attendance.early_leave|default:''|date:'H:i' }}">#}
{#                                </td><!-- 특이사항 입력란 -->#}
                                <td colspan="7">
                                    <input type="text" class="form-control" name="memo_{{ attendance.id }}" id="memo_{{ attendance.id }}" value="{{ attendance.memo|default_if_none:'' }}">
                                </td>
                                <!-- 저장 버튼 -->
                            </tr>
                        </tbody>
                    {% endfor %}
                </form>
                </table>
            </div>
        </div>
    </div>
    <!-- Modal -->
    {% for attendance in attendances_s %}
        <div class="modal fade" id="staticBackdrop{{ attendance.id }}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel{{ attendance.id }}" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                  <h5>{{ attendance.user }} - 상세사항</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                  <p>학생 번호 : {{ attendance.user.student_phone|default_if_none:'' }}</p>
                  <p>학부모 번호 : {{ attendance.user.parent_phone1|default_if_none:'' }}</p>
                  <table class="table align-middle table-bordered" style="text-align: center; max-width: 18rem">
                    <thead style="position: sticky; top: 0px;">
                        <tr class="table-success">
                            <th style="width: 3%; white-space: nowrap;">08</th>
                            <th style="width: 3%; white-space: nowrap;">09</th>
                            <th style="width: 3%; white-space: nowrap;">10</th>
                            <th style="width: 3%; white-space: nowrap;">11</th>
                            <th style="width: 3%; white-space: nowrap;">12</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if attendance.absent %}
                            <td class="bg-secondary"></td>
                            <td class="bg-secondary"></td>
                            <td class="bg-secondary"></td>
                            <td class="bg-secondary"></td>
                            <td class="bg-secondary"></td>
                        {% else %}
                            <td>{{ attendance.time8 }}</td>
                            <td>{{ attendance.time9 }}</td>
                            <td>{{ attendance.time10 }}</td>
                            <td>{{ attendance.time11 }}</td>
                            <td>{{ attendance.time12 }}</td>
                        {% endif %}
                    </tbody>
                </table>
                <table class="table align-middle table-bordered" style="text-align: center; max-width: 18rem">
                    <thead style="position: sticky; top: 0px;">
                        <tr class="table-success">
                            <th style="width: 3%; white-space: nowrap;">13</th>
                            <th style="width: 3%; white-space: nowrap;">14</th>
                            <th style="width: 3%; white-space: nowrap;">15</th>
                            <th style="width: 3%; white-space: nowrap;">16</th>
                            <th style="width: 3%; white-space: nowrap;">17</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if attendance.absent %}
                            <td class="bg-secondary"></td>
                            <td class="bg-secondary"></td>
                            <td class="bg-secondary"></td>
                            <td class="bg-secondary"></td>
                            <td class="bg-secondary"></td>
                        {% else %}
                            <td>{{ attendance.time13 }}</td>
                            <td>{{ attendance.time14 }}</td>
                            <td>{{ attendance.time15 }}</td>
                            <td>{{ attendance.time16 }}</td>
                            <td>{{ attendance.time17 }}</td>
                        {% endif %}
                    </tbody>
                </table>
            <table class="table align-middle table-bordered" style="text-align: center; max-width: 18rem">
                    <thead style="position: sticky; top: 0px;">
                        <tr class="table-success">
                            <th style="width: 3%; white-space: nowrap;">18</th>
                            <th style="width: 3%; white-space: nowrap;">19</th>
                            <th style="width: 3%; white-space: nowrap;">20</th>
                            <th style="width: 3%; white-space: nowrap;">21</th>
                            <th style="width: 3%; white-space: nowrap;">22</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if attendance.absent %}
                            <td class="bg-secondary"></td>
                            <td class="bg-secondary"></td>
                            <td class="bg-secondary"></td>
                            <td class="bg-secondary"></td>
                            <td class="bg-secondary"></td>
                        {% else %}
                            <td>{{ attendance.time18 }}</td>
                            <td>{{ attendance.time19 }}</td>
                            <td>{{ attendance.time20 }}</td>
                            <td>{{ attendance.time21 }}</td>
                            <td>{{ attendance.time22 }}</td>
                        {% endif %}
                    </tbody>
                </table>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
    {% endfor %}
{% endblock %}
