{% include 'check/check_menu.html' %}
<ul class="list-group dropdown-center mt-3">
    <a href="{% url 'check:register' %}"
        class="list-group-item list-group-item-action text-center bg-success-subtle border border-success"
        aria-current="true">
        재원생 등록
    </a>
</ul>
<ul class="list-group dropdown-center mt-3">
    <a href="{% url 'check:students_list' %}"
    <a href="#"
        class="list-group-item list-group-item-action text-center bg-primary-subtle border border-primary"
        aria-current="true">
        전체 학생 목록 보기
    </a>
</ul>