<div class="col-md-3">
    <ul class="list-group">
        {% for t in teacher_table %}
            {% if current_teacher_id == t.id %}
                <a href="{% url 'teacher:reserve_history' teacher_id=t.id %}" class="list-group-item list-group-item-action text-success border border-success text-center">
                    <strong>{{ t.subject }}</strong> {{ t.name }}선생님
                </a>
            {% else %}
                <a href="{% url 'teacher:reserve_history' teacher_id=t.id %}" class="list-group-item list-group-item-action text-center">
                    <strong>{{ t.subject }}</strong> {{ t.name }}선생님
                </a>
            {% endif %}
        {% endfor %}
    </ul>
</div>
