<div class="col-md-2 scroll-container overflow-auto" data-bs-spy="scroll" data-bs-smooth-scroll="true">
    <div id="list-example" class="list-group" data-bs-spy="scroll" data-bs-smooth-scroll="true"
         tabindex="0">
        {% for date in dates %}
            <a class="list-group-item list-group-item-action text-center"
               href="{% url 'teacher:reserve_history_detail' current_teacher_id date %}">
                {{ date }}
            </a>
        {% endfor %}
    </div>
</div>