{% extends 'base.html' %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            {% include 'manager/manager_main_menu.html' %}
            <div class="col-md-2 text-center">
                <div class="card" style="height: 16rem">
                    <div class="card-header">
                        {% for student in student %}
                            <h5 class="card-title">{{ student.class_name }}-{{ student.class_num }} {{ student.student }}</h5>
                        {% endfor %}
                    </div>
                    <div class="scroll-container overflow-auto" data-bs-spy="scroll"
                         data-bs-smooth-scroll="true">
                        <div class="text-center list-group list-group-flush" id="list-example" data-bs-spy="scroll"
                             data-bs-smooth-scroll="true"
                             tabindex="0">
                            {% for data in data %}
                                <a href="?select_month={{ data.month }}"
                                   class="list-group-item">{{ data.month }}</a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div>
                    {% for student in student %}
                        <a class="btn btn-primary mt-3" href="{% url 'manager:word_create' student.id %}">영단어 테스트 입력</a>
                    {% endfor %}
                </div>
            </div>
            {# 주차 선택하면 나올 수 있도록 #}
        {% if select_month %}
            {% if filtered_data %}
            <div class="col-md-8">
                {% for data in filtered_data %}
                        <div class="row">
                            <div class="col-md-3">
                                <div class="card border-secondary mb-3" style="height: 8rem">
                                    <div class="card-header bg-secondary-subtle">
                                        <h5 class="card-title">{{ select_month }}</h5>
                                    </div>
                                </div>
                                <div class="card border-secondary mb-3" style="height: 11rem">
                                    <div class="card-header bg-danger-subtle">
                                        <h5 class="card-title">영단어 랜덤 테스트</h5>
                                    </div>
                                    <div class="card-body">
                                        <p>1차 점수 - {{ data.random_word1|default_if_none:'' }}</p>
                                        <p>2차 점수 - {{ data.random_word2|default_if_none:'' }}</p>
                                        {% include 'form_errors.html' %}
                                    </div>
                                </div>
                                <div class="card border-secondary mb-3" style="height: 11rem">
                                    <div class="card-header bg-warning-subtle">
                                        <h5 class="card-title">국어 주간 테스트</h5>
                                    </div>
                                    <div class="card-body">
                                        <p>1차 점수 - {{ data.weekly_korean_test1|default_if_none:'' }}</p>
                                        <p>2차 점수 - {{ data.weekly_korean_test2|default_if_none:'' }}</p>
                                        {% include 'form_errors.html' %}
                                    </div>
                                </div>
                                <div class="card border-secondary mb-3" style="height: 11rem">
                                    <div class="card-header bg-success-subtle">
                                        <h5 class="card-title">수학 주간 테스트</h5>
                                    </div>
                                    <div class="card-body">
                                        <p>1차 점수 - {{ data.weekly_math_test1|default_if_none:'' }}</p>
                                        <p>2차 점수 - {{ data.weekly_math_test2|default_if_none:'' }}</p>
                                        {% include 'form_errors.html' %}
                                    </div>
                                </div>
{#                                <button type="submit" class="btn btn-primary">저장하기</button>#}
                            </div>
                            <div class="col-md-9">
                                <div class="row">
                                    <h5>1주차</h5>
                                    <div class="col-md-2">
                                        <div class="card border-secondary mb-3" style="height: 6rem">
                                            <div class="card-header bg-light" style="height: 2rem">
                                                <h6 class="card-title">1일 월</h6>
                                            </div>
                                            <div class="card-body">
                                                {{ data.day1|default_if_none:'' }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="card border-secondary mb-3" style="height: 6rem">
                                            <div class="card-header bg-light" style="height: 2rem">
                                                <h6 class="card-title">2일 화</h6>
                                            </div>
                                            <div class="card-body">
                                                {{ data.day2|default_if_none:'' }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="card border-secondary mb-3" style="height: 6rem">
                                            <div class="card-header bg-light" style="height: 2rem">
                                                <h6 class="card-title">3일 수</h6>
                                            </div>
                                            <div class="card-body">
                                                {{ data.day3|default_if_none:'' }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="card border-secondary mb-3" style="height: 6rem">
                                            <div class="card-header bg-light" style="height: 2rem">
                                                <h6 class="card-title">4일 목</h6>
                                            </div>
                                            <div class="card-body">
                                                {{ data.day4|default_if_none:'' }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="card border-secondary mb-3" style="height: 6rem">
                                            <div class="card-header bg-light" style="height: 2rem">
                                                <h6 class="card-title">5일 금</h6>
                                            </div>
                                            <div class="card-body">
                                                {{ data.day5|default_if_none:'' }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="card border-secondary mb-3" style="height: 6rem">
                                            <div class="card-header bg-light" style="height: 2rem">
                                                <h6 class="card-title">6일 토</h6>
                                            </div>
                                            <div class="card-body">
                                                {{ data.day6|default_if_none:'' }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <h5>2주차</h5>
                                    <div class="col-md-2">
                                        <div class="card border-secondary mb-3" style="height: 6rem">
                                            <div class="card-header bg-light" style="height: 2rem">
                                                <h6 class="card-title">1일 월</h6>
                                            </div>
                                            <div class="card-body">
                                                {{ data.day7|default_if_none:'' }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="card border-secondary mb-3" style="height: 6rem">
                                            <div class="card-header bg-light" style="height: 2rem">
                                                <h6 class="card-title">2일 화</h6>
                                            </div>
                                            <div class="card-body">
                                                {{ data.day8|default_if_none:'' }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="card border-secondary mb-3" style="height: 6rem">
                                            <div class="card-header bg-light" style="height: 2rem">
                                                <h6 class="card-title">3일 수</h6>
                                            </div>
                                            <div class="card-body">
                                                {{ data.day9|default_if_none:'' }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="card border-secondary mb-3" style="height: 6rem">
                                            <div class="card-header bg-light" style="height: 2rem">
                                                <h6 class="card-title">4일 목</h6>
                                            </div>
                                            <div class="card-body">
                                                {{ data.day10|default_if_none:'' }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="card border-secondary mb-3" style="height: 6rem">
                                            <div class="card-header bg-light" style="height: 2rem">
                                                <h6 class="card-title">5일 금</h6>
                                            </div>
                                            <div class="card-body">
                                                {{ data.day11|default_if_none:'' }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="card border-secondary mb-3" style="height: 6rem">
                                            <div class="card-header bg-light" style="height: 2rem">
                                                <h6 class="card-title">6일 토</h6>
                                            </div>
                                            <div class="card-body">
                                                {{ data.day12|default_if_none:'' }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <h5>3주차</h5>
                                    <div class="col-md-2">
                                        <div class="card border-secondary mb-3" style="height: 6rem">
                                            <div class="card-header bg-light" style="height: 2rem">
                                                <h6 class="card-title">1일 월</h6>
                                            </div>
                                            <div class="card-body">
                                                {{ data.day13|default_if_none:'' }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="card border-secondary mb-3" style="height: 6rem">
                                            <div class="card-header bg-light" style="height: 2rem">
                                                <h6 class="card-title">2일 화</h6>
                                            </div>
                                            <div class="card-body">
                                                {{ data.day14|default_if_none:'' }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="card border-secondary mb-3" style="height: 6rem">
                                            <div class="card-header bg-light" style="height: 2rem">
                                                <h6 class="card-title">3일 수</h6>
                                            </div>
                                            <div class="card-body">
                                                {{ data.day15|default_if_none:'' }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="card border-secondary mb-3" style="height: 6rem">
                                            <div class="card-header bg-light" style="height: 2rem">
                                                <h6 class="card-title">4일 목</h6>
                                            </div>
                                            <div class="card-body">
                                                {{ data.day16|default_if_none:'' }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="card border-secondary mb-3" style="height: 6rem">
                                            <div class="card-header bg-light" style="height: 2rem">
                                                <h6 class="card-title">5일 금</h6>
                                            </div>
                                            <div class="card-body">
                                                {{ data.day17|default_if_none:'' }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="card border-secondary mb-3" style="height: 6rem">
                                            <div class="card-header bg-light" style="height: 2rem">
                                                <h6 class="card-title">6일 토</h6>
                                            </div>
                                            <div class="card-body">
                                                {{ data.day18|default_if_none:'' }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <h5>4주차</h5>
                                    <div class="col-md-2">
                                        <div class="card border-secondary mb-3" style="height: 6rem">
                                            <div class="card-header bg-light" style="height: 2rem">
                                                <h6 class="card-title">1일 월</h6>
                                            </div>
                                            <div class="card-body">
                                                {{ data.day19|default_if_none:'' }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="card border-secondary mb-3" style="height: 6rem">
                                            <div class="card-header bg-light" style="height: 2rem">
                                                <h6 class="card-title">2일 화</h6>
                                            </div>
                                            <div class="card-body">
                                                {{ data.day20|default_if_none:'' }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="card border-secondary mb-3" style="height: 6rem">
                                            <div class="card-header bg-light" style="height: 2rem">
                                                <h6 class="card-title">3일 수</h6>
                                            </div>
                                            <div class="card-body">
                                                {{ data.day21|default_if_none:'' }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="card border-secondary mb-3" style="height: 6rem">
                                            <div class="card-header bg-light" style="height: 2rem">
                                                <h6 class="card-title">4일 목</h6>
                                            </div>
                                            <div class="card-body">
                                                {{ data.day22|default_if_none:'' }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="card border-secondary mb-3" style="height: 6rem">
                                            <div class="card-header bg-light" style="height: 2rem">
                                                <h6 class="card-title">5일 금</h6>
                                            </div>
                                            <div class="card-body">
                                                {{ data.day23|default_if_none:'' }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="card border-secondary mb-3" style="height: 6rem">
                                            <div class="card-header bg-light" style="height: 2rem">
                                                <h6 class="card-title">6일 토</h6>
                                            </div>
                                            <div class="card-body">
                                                {{ data.day24|default_if_none:'' }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <h5>5주차</h5>
                                    <div class="col-md-2">
                                        <div class="card border-secondary mb-3" style="height: 6rem">
                                            <div class="card-header bg-light" style="height: 2rem">
                                                <h6 class="card-title">1일 월</h6>
                                            </div>
                                            <div class="card-body">
                                                {{ data.day25|default_if_none:'' }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="card border-secondary mb-3" style="height: 6rem">
                                            <div class="card-header bg-light" style="height: 2rem">
                                                <h6 class="card-title">2일 화</h6>
                                            </div>
                                            <div class="card-body">
                                                {{ data.day26|default_if_none:'' }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="card border-secondary mb-3" style="height: 6rem">
                                            <div class="card-header bg-light" style="height: 2rem">
                                                <h6 class="card-title">3일 수</h6>
                                            </div>
                                            <div class="card-body">
                                                {{ data.day27|default_if_none:'' }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="card border-secondary mb-3" style="height: 6rem">
                                            <div class="card-header bg-light" style="height: 2rem">
                                                <h6 class="card-title">4일 목</h6>
                                            </div>
                                            <div class="card-body">
                                                {{ data.day28|default_if_none:'' }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="card border-secondary mb-3" style="height: 6rem">
                                            <div class="card-header bg-light" style="height: 2rem">
                                                <h6 class="card-title">5일 금</h6>
                                            </div>
                                            <div class="card-body">
                                                {{ data.day29|default_if_none:'' }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="card border-secondary mb-3" style="height: 6rem">
                                            <div class="card-header bg-light" style="height: 2rem">
                                                <h6 class="card-title">6일 토</h6>
                                            </div>
                                            <div class="card-body">
                                                {{ data.day30|default_if_none:'' }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <a href="{% url 'manager:word_modify' data.id %}" class="btn btn-outline-warning">수정하기</a>
                            <a href="{% url 'manager:word_delete' data.id %}" class="btn btn-danger">삭제하기</a>
                    {% endfor %}
                </div>
            {% endif %}
        {% endif %}
        </div>
    </div>
{% endblock %}
