{% extends 'base.html' %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            {% include 'manager/manager_main_menu.html' %}
            <div class="col-md-2" style="height:700px">
                <ul class="list-group">
                    <a href="#"
                       class="list-group-item list-group-item-action text-center"
                       aria-current="true">
                        학생 검색
                    </a>
                    <a href="#"
                       class="list-group-item list-group-item-action text-center"
                       aria-current="true">
                        선생님 검색
                    </a>
                    <a href="{% url 'manager:consulting_detail' %}"
                       class="list-group-item list-group-item-action text-center"
                       aria-current="true">
                        검색하기 버튼
                    </a>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}