{% extends 'base.html' %} {% block content %}
<div class="container my-3">
    <div style="display: flex; align-items: center;">
    <h5 style="margin-right: 10px;">상담 게시판 |
        <a href="{% url 'teacher:consulting_create' %}" class="btn btn-primary"> 상담내용등록 </a>
    </h5>
    <div style="margin-left: auto;">
        <form class="d-flex" role="search" style="width: 300px;">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
    </div>
</div>

    <table class="table">
        <thread>
            <tr class="table-dark">
				<th>번호</th>
                <th>제목</th>
                <th>상담 학생</th>
				<th>작성자</th>
				<th>날짜</th>
            </tr>
            {% for cs in consulting %}
                <tr class"table-light">
					<td>
						{{ forloop.counter }}
                    </td>
                    <td>
						<a href="{% url 'teacher:consulting_detail' consulting_id=cs.id %}">
                        {{ cs.consulting_subject }}
						</a>
                    </td>
                    <td>
                        {{ cs.student_name }}
                    </td>
										<td>
                        {{ cs.teacher_name }}
                    </td>
										<td>
                        {{ cs.date }}
                    </td>
            {% endfor %}
            </tr>
        </thread>
    </table>

		<!-- 페이징처리 시작 -->
    <ul class="pagination justify-content-center">
        <!-- 이전페이지 -->
        {% if consulting.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page={{ consulting.previous_page_number }}">이전</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true" href="#">이전</a>
        </li>
        {% endif %}
        <!-- 페이지리스트 -->
        {% for page_number in consulting.paginator.page_range %}
        {% if page_number >= consulting.number|add:-5 and page_number <= consulting.number|add:5 %}
        {% if page_number == consulting.number %}
        <li class="page-item active" aria-current="page">
            <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
        </li>
        {% else %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
        </li>
        {% endif %}
        {% endif %}
        {% endfor %}
        <!-- 다음페이지 -->
        {% if consulting.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ consulting.next_page_number }}">다음</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" tabindex="1" aria-disabled="true" href="#">다음</a>
        </li>
        {% endif %}
    </ul>
    <!-- 페이징처리 끝 -->
	</div>
</div>

{% endblock %}
