{% load static %}
<style>
        /* 기본 스타일 */
    li a {
        color: gray; /* 텍스트 색상을 회색으로 지정 */
        text-decoration: none; /* 밑줄 제거 */
    }

    /* 마우스 호버 시 스타일 */
    li a:hover {
        text-decoration: underline; /* 마우스 호버 시 밑줄 추가 */
    }
</style>
<div class='col-md-2'>
    <a class="navbar-brand" href="{% url 'reserve:index' %}">
        <img style="max-height: 120px" src="{% static '3.jpg' %}" alt="logo"/>
    </a>
    <h4 class="mt-1">{{ user.first_name }}</h4>
    <hr>
    <!-- Example single danger button -->
    <div class="btn-group">
      <button type="button" class="btn border dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
        플래너 날짜 검색
      </button>
      <ul class="dropdown-menu">
        <form method="POST" action="{% url 'mypage:planner_search' user.id %}" onsubmit="return validateForm()">
            {% csrf_token %}
            <div class="text-center">
                <input type="date" name="selected_date" id="selected_date">
                <button class="btn btn-outline-success mt-2" type="submit" id="button"
                    style="vertical-align: center;">검색
                </button>
            </div>
        </form>
      </ul>
    </div>
    <div style="margin-left: 15px">
{#        <li><a href="{% url 'mypage:planner_index' user.id %}">플래너 시간 입력</a></li>#}
{#        <li><a href="{% url 'mypage:planner_search' user.id %}">플래너 검색</a></li>#}
{#        <li><a href="{% url 'mypage:planner_detail' user.id %}">플래너 검색</a></li>#}
    </div>
{#    <form method="POST" action="{% url 'mypage:planner_index' user.id %}">#}
{#        {% csrf_token %}#}
{#        <div class="card border-secondary mt-3 text-center" style="height: 10rem">#}
{#            <div class="card-header bg-warning-subtle">플래너 날짜 검색</div>#}
{#            <div class="card-body">#}
{#                <input type="date" name="selected_date" id="selected_date">#}
{#            </div>#}
{#            <div class="card-body">#}
{#                <button class="btn btn-outline-success" type="submit" id="button"#}
{#                    style="vertical-align: center;">검색#}
{#                </button>#}
{#            </div>#}
{#        </div>#}
{#    </form>#}
</div>
<script>
    function validateForm() {
    var selectedDate = document.getElementById("selected_date").value;
    if (!selectedDate) {
        alert("날짜를 지정해야 합니다.");
        return false;
    }
    return true;
    }
</script>