{% extends 'base.html' %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            {% include 'manager/manager_main_menu.html' %}
            <div class="col-md-2 text-center list-group" style="height: 700px">
                <div class="card border-secondary mb-3">
                    <form method="GET" action="{% url 'manager:patrol_student_detail' %}">
                        <div class="card-header bg-primary-subtle">일일 순찰 일지 학생 검색</div>
                        <div class="card-body">
                            <div class="input-group mb-4">
                                {% csrf_token %}
                                <span class="input-group-text" id="inputGroup-sizing-default">학생명</span>
                                <input type="text" name="student_name" id="student_name"
                                       class="form-control btn-outline-secondary"
                                       placeholder="학생명" aria-label="Recipient's username"
                                       aria-describedby="button-addon2">
                            </div>
                            <button class="btn btn-outline-success" type="submit" id="button-addon2">검색</button>
                        </div>
                    </form>
                </div>
            </div>

            <div class="col-md-1 text-center">
                <div class="card" style="height: 460px">
                    <div class="card-header">
                        {{ student_name }}
                    </div>
                    <div class="scroll-container overflow-auto" data-bs-spy="scroll"
                         data-bs-smooth-scroll="true">
                        <div class="text-center list-group list-group-flush" id="list-example" data-bs-spy="scroll"
                             data-bs-smooth-scroll="true"
                             tabindex="0">
                            {% for date in unique_dates %}
                                <a href="?student_name={{ student_name }}&selected_date={{ date }}"
                                   class="list-group-item">{{ date }}</a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>

            {% if selected_date %}
                {% if filtered_data %}
                    <div class="col-md-7">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="card border-secondary">
                                    <div class="card-header bg-secondary-subtle">
                                        <h5 class="card-title">{{ student_name }}</h5>
                                        <p class="card-text">{{ selected_date }}</p>
                                    </div>
                                    <ul class="list-group list-group-flush">
                                        {% for data in filtered_data %}
                                            <li class="list-group-item">집중도3 - {{ data.focus_three }}</li>
                                            <li class="list-group-item">집중도2 - {{ data.focus_two }}</li>
                                            <li class="list-group-item">집중도1 - {{ data.focus_one }}</li>
                                            <li class="list-group-item bg-danger text-white">수면 - {{ data.sleep }}회</li>
                                            <li class="list-group-item">집중도 - {{ data.focus_index }}</li>
                                            <li class="list-group-item bg-secondary"></li>
                                            <li class="list-group-item">질의응답 - {{ data.question }}회</li>
                                            <li class="list-group-item">상담 - {{ data.consulting }}회</li>
                                            <li class="list-group-item">멘토링 - {{ data.mentoring }}회</li>
                                            <li class="list-group-item">계획정리 - {{ data.plan }}회</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-7">
                                {% if filtered_data %}
                                    {% for data in filtered_data %}
                                        <figure class="highcharts-figure border" style="height:190px;">
                                            <div id="container_semicircle"></div>
                                        </figure>
                                        <script>
                                            Highcharts.chart('container_semicircle', {
                                                chart: {
                                                    plotBackgroundColor: null,
                                                    plotBorderWidth: 0,
                                                    plotShadow: false
                                                },
                                                title: {
                                                    text: '',
                                                    align: 'center',
                                                    verticalAlign: 'middle',
                                                    y: 60
                                                },
                                                accessibility: {
                                                    point: {
                                                        valueSuffix: '%'
                                                    }
                                                },
                                                plotOptions: {
                                                    pie: {
                                                        dataLabels: {
                                                            enabled: true,
                                                            distance: -50,
                                                            style: {
                                                                color: 'white'
                                                            }
                                                        },
                                                        startAngle: -90,
                                                        endAngle: 90,
                                                        center: ['50%', '55%'],
                                                        size: '110%',
                                                        colors: ['#FFE699', '#8BE88B', '#FFA931', '#63C9E8', '#A795D7']
                                                    }
                                                },
                                                series: [{
                                                    type: 'pie',
                                                    name: '',
                                                    innerSize: '50%',
                                                    data: [
                                                        {
                                                            name: '국어',
                                                            y: {{ data.korean_study_count }}
                                                        },
                                                        {
                                                            name: '수학',
                                                            y: {{ data.math_study_count }}
                                                        },
                                                        {
                                                            name: '영어',
                                                            y: {{ data.english_study_count }}
                                                        },
                                                        {
                                                            name: '탐구',
                                                            y: {{ data.research_study_count }}
                                                        }
                                                    ]
                                                }]
                                            });
                                        </script>
                                        <figure class="highcharts-figure border">
                                            <div id="container_stack_bar"></div>
                                        </figure>
                                        <script>
                                            Highcharts.chart('container_stack_bar', {
                                                chart: {
                                                    type: 'bar',
                                                    height: (9 / 16 * 100) + '%'
                                                },
                                                title: {
                                                    text: ''
                                                },
                                                xAxis: {
                                                    categories: ['국어', '수학', '영어', '탐구'],
                                                    LineWidth: 0
                                                },
                                                yAxis: {
                                                    min: 0,
                                                    title: {
                                                        text: ''
                                                    }
                                                },
                                                legend: {
                                                    reversed: true
                                                },
                                                plotOptions: {
                                                    bar: {
                                                        colorByPoint: false,
                                                        groupPadding: 0.2, // 그룹 간격 설정
                                                        pointWidth: 20,
                                                        colors: ['#FFE699', '#8BE88B', '#FFA931', '#63C9E8', '#A795D7']
                                                    },
                                                    series: {
                                                        stacking: 'normal',
                                                        dataLabels: {
                                                            enabled: true
                                                        }
                                                    }
                                                },
                                                series: [{
                                                    name: '자습',
                                                    data: [{{ data.k_ss_count }}, {{ data.m_ss_count }}, {{ data.e_ss_count }}, {{ data.r_ss_count }}]
                                                }, {
                                                    name: '인강',
                                                    data: [{{ data.k_il_count }}, {{ data.m_il_count }}, {{ data.e_il_count }}, {{ data.r_il_count }}]
                                                }]
                                            });
                                        </script>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endif %}
        </div>
    </div>
{% endblock %}
