{% extends 'base.html' %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            {% include 'manager/manager_main_menu.html' %}
            <div class="col-md-2 text-center list-group" style="height:700px">
                <div class="card border-secondary mb-3">
                    <form method="GET" action="{% url 'manager:patrol_student_detail' %}">
                        <div class="card-header bg-primary-subtle">일일 순찰 일지 학생 검색</div>
                        <div class="card-body">
                            <div class="input-group mb-4">
                                {% csrf_token %}
                                <span class="input-group-text" id="inputGroup-sizing-default">학생명</span>
                                <input type="text" name="student_name" id="student_name"
                                       class="form-control btn-outline-secondary" placeholder="학생명"
                                       aria-label="Recipient's username" aria-describedby="button-addon2">
                            </div>
                            <button class="btn btn-outline-success" type="submit" id="button-addon2">검색
                            </button>
                        </div>
                    </form>
                </div>
                <form method="POST">
                    <div class="card border-secondary mb-3" style="height:12rem;">
                        <div class="card-header bg-info-subtle">일일 순찰 일지 업로드</div>
                        <div class="card-body">
                            <div class="input-group mb-4">
                                {% csrf_token %}
                                <span class="input-group-text" id="inputGroup-sizing-default">시트명</span>
                                <input type="text" name="sheet_name" id="sheet_name"
                                       class="form-control btn-outline-secondary" placeholder="ex) 0620"
                                       aria-label="Recipient's username" aria-describedby="button-addon2">
                            </div>
                            <button class="btn btn-outline-success" type="submit" id="button-addon2">업로드
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}